.hide
	#linkingStarted
		| {{#if stateConnecting}}
		| Makin' pals with LinkedIn...
		i.icon-spinner.icon-spin.pull-right
		| {{/if}}
		| {{#if stateParsing}}
		div {{current}} of {{total}}
		.progress1.progress.progress-striped.active
			| <div class="bar" {{bindAttr style="percent"}}></div>
			.progress2.progress.active
				| <div class="bar" {{bindAttr style="percent2"}}></div>
		| {{/if}}
		| {{#if stateDone}}
		| All done!
		| {{/if}}
		| {{#if stateThrottled}}
		| That's enough for today: come back and do some more tomorrow. <a href="#" {{action profile href=true}}>Done</a>.
		| {{/if}}
