.hide
	#linkingStarted
		| {{#if stateConnecting}}
		| Makin' pals with LinkedIn...
		i.icon-spinner.icon-spin.pull-right
		| {{/if}}
		| {{#if stateParsing}}
		div {{current}} of {{total}}
		.progress.progress-striped.active
			| <div class="bar" {{bindAttr style="percent"}}></div>
		| {{/if}}
		| {{#if stateDone}}
		| All done!
		| {{/if}}
