.hide
	#linkingStarted
		| {{#if stateConnecting}}
		| Makin' pals with linkedin...
		img.pull-right(src='http://www.updown.com/facebook/g/loading.gif')
		| {{/if}}
		| {{#if stateParsing}}
		div {{current}} of {{total}}
		.progress.progress-striped.active
			| <div class="bar" {{bindAttr style="percent"}}></div>
		| {{/if}}
		| {{#if stateQueueing}}
		div contacts found: {{totalQueued}}
		| {{/if}}
		| {{#if stateDone}}
		| All done! <a href="#" {{action profile href=true}}>Done</a>.
		| {{/if}}

.modal.fade.hide(tabindex='-1', role='dialog')
	.modal-header
		button.close(type='button', data-dismiss='modal') ×
		h3 You're all set!
	.modal-body
		p You've successfully connected to linkedin.
	.modal-footer
		button.btn(data-dismiss='modal') Close
