h3
	| Filters
.filters
	{{#each item in controller.tagsToSelect}}
	.checkfilter
		|<input type="checkbox" {{action tagfilter target="controller"}} {{bindAttr value="item.id" name="item.id" id="item.id"}}/>
		|<label {{bindAttr for="item.id"}}>{{item.label}}</label>
	{{/each}}
h4
	| Experience
{{view Ember.Select
|	contentBinding="yearsToSelect"
|	optionValuePath="content.years"
|	optionLabelPath="content.label"
|	valueBinding="years"
|	prompt="Select a minimum ..."
}}
h3
	| Sort
.filters
h4
	| Proximity
.proximity.sort
	| <a href="#" {{action sort target="controller"}}>
	i.icon-caret-up.icon-large
	| </a>
	| <a href="#" {{action sort target="controller"}}>
	i.icon-caret-down.icon-large
	| </a>
h4
	| Influence
.influence.sort
	| <a href="#" {{action sort target="controller"}}>
	i.icon-caret-up.icon-large
	| </a>
	| <a href="#" {{action sort target="controller"}}>
	i.icon-caret-down.icon-large
	| </a>

