.main
	// TO-DO this would be more efficient with the #collection helper, but requires code changes to both tag.coffee and tagger.coffee
	| {{#each view.tags}}
	| {{#view view.tagView}}
	i.icon-tag  
	| <a class="body" href="#" {{action search target="view"}}>{{body}}</a>
	| <a class="close" {{action delete target="view"}}>×</a>
	| {{/view}}
	| {{/each}}

	| <form class="new-tag-form" {{action add on="submit" target="view"}}>
	| {{view view.newTagView class="new-tag" viewName="newTagViewInstance" valueBinding="view.currentTag"}}
	| </form>

| {{#if view.cloud}}
.cloud
	| {{#collection contentBinding="view.availableTags" itemViewClass="view.availableTagView"}}
	| <a href="#" {{action use target="view"}}><span class="label"><i class="icon-plus"></i> {{view.content}}</span></a> 
	| {{/collection}}
| {{/if}}
