div(bindAttr='class=":row-fluid theResults::disabled"')
	.span2
		h4.sort-by SORT BY
	.span2
		+view ('App.SortView class="names" sortTitle = "sort name alphabetically" sortName = "Alphabetical"')
	| {{#unless datapoor}}
	.span2
		+view ('App.SortView class="familiarity" sortTitle = "how many users know each contact" sortName = "Influence"')
	.span3
		+view ('App.SortView class="reachability" sortTitle = "prioritize contacts you already know" sortName = "Relationship Strength"')
	| {{/unless}}
	.span2
		+view ('App.SortView class="added" sortTitle = "sort by chronology of classification" sortName = "Added Date"')
