doctype 5
html
	head
		meta(charset='utf-8')
		title Error
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link#styles(rel='stylesheet', href='/site.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a(href='/', class='brand')
						| Redfly
						img(src='/images/redfly_logo.png', width='30px', class='logo-up') 
		.container
			.row-fluid
				h1 Error
				p Please login to your corporate email account for access to Redfly 
			hr
			footer
				p © 2013
