doctype 5
html(manifest='/app.manifest')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Redfly! Like superfly, but redder and awesomer.
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/app.css')

		script(src='/modernizr.boilerplate.js')

	body
		// TODO temporary until i can require socket.io-client
		script(src='/socket.io/socket.io.js')
		// TODO testing, testing..
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		// TODO testing, testing..
		script(src='http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js')
		// TODO testing, testing..
		script(src='http://cloud.github.com/downloads/emberjs/ember.js/ember-1.0.0-pre.2.js')
		script(src='/app.js')
		:coffeescript
			root = '!{root}'
			require root + '/lib/app'

		//
			script
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-27348254-1']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
