<!DOCTYPE html>
<html manifest="./app.manifest">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Redfly, the best damn contact management tool there ever was.</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="./app.css">
		
		<script src="/modernizr.boilerplate.js"></script>
	</head>
	<body>
		<script type="text/x-handlebars" data-template-name="application">
			<!--[if lt IE 7]>
				<p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
			<![endif]-->

			<!-- TODO do connection alert if possible -->
			<!-- <ui:connectionAlert> -->

			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" {{action goHome href=true}}>Redfly</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<!-- TODO make the active class="active" tab switch: page('home', 'active') https://github.com/ghempton/ember-router-example -->
								<li><a {{action goHome href=true}}>Home</a></li>
								<li><a {{action goTags href=true}}>Tags</a></li>
								<li><a {{action goReport href=true}}>Report a bug</a></li>
								<form class="navbar-search pull-left">
									<input type="text" class="search-query" placeholder="Search">
								</form>
							</ul>
						</div>
						<div class="pull-right">
							{{#unless App.user.content}}
								<form class="navbar-form" {{action doLogin on="submit"}}>
									{{view Ember.TextField class="span2" placeholder="Email" valueBinding="App.user.loginIdentity"}}
									<!-- <input type="password" class="input-small" placeholder="Password"> -->
									<!-- <label class="checkbox">
										<input type="checkbox"> Remember me
									</label> -->
									<button type="submit" class="btn">Log In</button>
								</form>
							{{else}}
								<div class="btn-group">
									<a class="btn" {{action goUserProfile href=true}}>
										<i class="icon-user"></i>
										{{App.user.name}}
									</a>
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a {{action goUserProfile href=true}}>Profile</a></li>
										<li class="divider"></li>
										<li><a href="#" {{action doLogout}}>Log Out</a></li>
									</ul>
								</div>
							{{/unless}}
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="span3">
						<ul data-spy="affix" class="nav nav-list recent">
							<li class="nav-header title">Recent Contacts</li>
							{{#each recentContacts}}
								<li>
									<a {{action goContact this href=true}}><i class="icon-chevron-right"></i></a>
									
									<h3>{{name}}</h3>
									<p>Added by {{addedBy}} on {{dateAdded}}</p>

									{{view App.TaggerView contactBinding="this"}}
 								</li>
							{{/each}}
						</ul>
					</div>
					<div class="span9">


						{{outlet}}


					</div>
				</div>

				<hr class="footer-line">
				<footer>
					<p>&copy; Redstar 2012</p>
				</footer>
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="home">
			<div class="row-fluid title">
				<h1><span class="red">Red</span>fly</h1>
				<h2>Institutional Memory for Redstar</h2>
				<br>
				<div class="version">v0.2</div>
			</div><!--/row-fluid-->
			<div class="row-fluid">
				<p class="lead">Redfly provides collaborative people tracking for teams.</p>
				<p class="lead">By connecting to your email it can find people that you communicate with and help you intelligently tag them.</p>
				<p class="lead">Every week you will recieve an update containing new correspondants so you can review the collected info and add your own notes.</p>
				<p class="lead">You'll be able to view the curated contacts of other team members and they'll be able to view yours. <strong>Remember, with great power comes great something something.</strong></p>
			</div><!--/row-fluid-->
			<div class="row-fluid signup">
				{{#unless App.user.content}}
					{{#unless showConnect}}
						<a class="btn btn-primary btn-large" {{action toggle target="view"}}>Connect through email</a>
					{{else}}
						<form class="well span4" {{action doSignup on="submit"}}>
							{{view Ember.TextField placeholder="hugh.jass@redstar.com" valueBinding="App.user.signupIdentity"}}
							<!-- <input type="password" placeholder="Password"> -->
							<span class="help-block">Type your Redstar email (or your Gmail if you don't have one).</span>
							<!-- <label class="checkbox">
								<input type="checkbox"> Check me out
							</label> -->
							<button type="submit" class="btn">Sign Up</button>
						</form>
					{{/unless}}
				{{/unless}}
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="profile">
			<div class="row-fluid">
				<h1 class="name">{{name}}</h1>
				<p>Signed up on {{date date}}</p>
				<br>
				<p>You've added {{total}} contact{{#unless_eq total compare=1}}s{{/unless_eq}} so far.</p>
				<ul>
					{{#each contacts}}
						<li><a {{action goContact this href=true}}>{{name}}</a></li>
					{{/each}}
				</ul>
				<br>
				<p><em>...more metrics to come!</em></p>
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="contact">
			<div class="row-fluid top">
				<!-- TODO try as class="img-polaroid" with new bootstrap and change styl file. Corners become no longer rounded -->
				<!-- TODO picture not be placeholder -->
				<img class="thumbnail" height="160" src="https://lh4.googleusercontent.com/-CG7j6tomnZg/AAAAAAAAAAI/AAAAAAAAHAk/kDhN-Z5gNJc/s250-c-k/photo.jpg" alt="">
				<h1 class="name">{{name}}</h1>
				{{#each history}}
					<div>
						<p>You emailed {{../nickname}} for the first time on {{date date}}.
						<br>
						The email subject was <em>"{{subject}}"</em>.</p>
						<p>You've sent <strong>{{../historyCount}}</strong> emails.</p>
					</div>
				{{/each}}
				{{view App.TaggerView contactBinding="this"}}
			</div>
			<div class="row-fluid">
				{{#each history}}
					<form {{action add on="submit" target="controller"}}>
						{{view view.newNoteView valueBinding="controller.currentNote"}}
						<button class="btn" type="submit" {{bindAttr disabled="canAdd"}}>Add Note</button>
					</form>
				{{/each}}
				{{#each notes}}
					<blockquote>
						<p>{{body}}</p>	<!-- TO-DO do nl2br with bindings -->
						<small>{{author.name}} | {{date date}}</small> <!-- XXX TODO why no name -->
					</blockquote>
				{{else}}
					<span>{{emptyNotesText}}</span>
				{{/each}}
			</div>

			<!-- TODO get rid of all "style" here -->
			{{#if classifying}}
				<div class="row-fluid" style="margin-top: 40px">
					<!-- TODO when possible {{nickname}} is {{App.user.classifyIndex}} out of -->
					<div style="font-size: 18px; display: inline-block;"> {{App.user.classify.length}} contacts in your queue.</div>
					<div style="display: inline-block; margin-left: 15px; margin-bottom: 13px;"><a class="btn btn-primary btn-large" {{action next target="controller"}}>Next</a></div>
				</div>
			{{/if}}
		</script>

		<script type="text/x-handlebars" data-template-name="tags">
			<div class="row-fluid">
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="report">
			<div class="row-fluid">
			</div>
 		</script>


		<script type="text/x-handlebars" data-template-name="tagger">
			{{#each tags}}
				{{#view view.tagView}}
					<span class="body">
						{{body}}
					</span>
					<a class="close" {{action delete target="view"}}>&times;</a>
				{{/view}}
			{{/each}}
			<form class="new-tag-form" {{action add on="submit" target="view"}}>
				{{view view.newTagView class="new-tag" valueBinding="view.newTagView.currentTag"}}
			</form>
 		</script>

		<script type="text/x-handlebars" data-template-name="loader">
			<div class="hide">
				<div id="loadingStarted">
					{{#if stateConnecting}}
						Makin' pals with gmail...
					{{/if}}
					{{#if stateParsing}}
						<div>{{current}} of {{total}}</div>
						<div class="progress progress-striped active">
							<div class="bar" {{bindAttr style="percent"}}></div>
						</div>
					{{/if}}
					{{#if stateDone}}
						All done! <a href="#" {{action goClassify}}>Start classifying</a>, dude.
					{{/if}}
				</div>
			</div>

			<div id="signupMessage" class="modal fade hide" tabindex="-1" role="dialog">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3>You're all set!</h3>
				</div>
				<div class="modal-body">
					<p>You've successfully connected your email, when parsing is complete you'll be able to classify to contacts Redfly finds.</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">Close</button>
				</div>
			</div>
 		</script>


		<script type="text/x-handlebars" data-template-name="connection">
			{{#unless connected}}
				<p class="alert">
					{{#if canConnect}}
						Offline 
						{{#unless hideReconnect}}
							&ndash; <a {{action connect target="view"}}>Reconnect</a>
						{{/unless}}
					{{else}}
						Unable to reconnect &ndash; <a {{action reload target="view"}}>Reload</a>
					{{/if}}
				</p>
			{{/unless}}
		</script>


		<script src="/socket.io/socket.io.js"></script>	<!-- TODO temporary until i can require socket.io-client -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	<!-- TODO testing, testing.. -->
		<script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"></script>	<!-- TODO testing, testing.. -->
		<script src="http://cloud.github.com/downloads/emberjs/ember.js/ember-1.0.pre.js"></script>	<!-- TODO testing, testing.. -->

		<script src="./app.js"></script>
		<!-- TODO -->
		<script>
			var appRoot = 'app';
			if (document.location.href.indexOf('localhost') != -1)
				appRoot = 'redfly';
			require(appRoot + '/lib/app');
		</script>

		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27348254-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
	</body>
</html>
