| {{#if content}}

div.navbar
	.navbar-inner
		.lead {{nickname}} is {{currentClassify}} out of {{App.user.classifyQueue.length}} contacts in your queue.
		.pull-right
			ul.pager
				li
					| <a href="#" class="btn-danger" {{action skip target="controller"}}>Skip forever</a>
				li
					| <a href="#" class="btn-success" {{action add target="controller"}}>Add and continue</a>

| {{outlet}}

| {{else}}

.hero-unit
	h1 Nicely done!
	p You&apos;ve classified all the contacts we have for you. Your contribution to Redfly is appreciated, your deeds of valor will be remembered for all eternity, etc etc.
	p
		| <a class="btn btn-primary btn-large" {{action goContacts href=true}}>
		| 	See all contacts
		| </a>
		p.star: i.icon-star

| {{/if}}
