.row-fluid.top
	.span3.picture
		| <img class="img-polaroid img-rounded" {{bindAttr src="canonicalPicture"}}>
		| {{#if isKnown}}
		| {{view view.editPictureView}}
		| {{/if}}		
	.span6
		.row-fluid
			| {{#unless isKnown}}
			p.bullhorn
				| <a {{bindAttr href="introMailto"}} target="_blank">{{view view.introView class="icon-bullhorn"}}</a>
			| {{/unless}}
			h1 {{canonicalName}}
			| {{#if isKnown}}
			| {{view view.editView allAttribute="names" primaryAttribute="name" otherAttribute="aliases" prettyPrimaryAttribute="Display Name" prettyOtherAttribute="Aliases"}}
			| {{/if}}
		.row-fluid
			| {{#if isKnown}}
			h4
				| <a {{bindAttr href="directMailto"}} target="_blank">{{email}}</a>
			| {{view view.editView allAttribute="emails" primaryAttribute="email" otherAttribute="otherEmails" prettyPrimaryAttribute="Primary Email" prettyOtherAttribute="Other Emails"}}
			| {{else}}
			| {{/if}}
		| {{#if firstHistory}}
		.row-fluid
			p
				| You've emailed each other {{histories.length}} times and last spoke 
				strong {{lastTalked}}
				| . <a {{bindAttr href="directMailto"}} target="_blank">Catch up.</a> 
			p
				| You and {{nickname}} first talked on {{firstHistory.sent}}. The email subject was
				em "{{firstHistory.subject}}"
				| .
		| {{/if}}
	.span3
		.row-fluid.actions
			| <a class="btn" role="button" {{action showMerge target="view"}}>
			i.icon-signin
			| &nbsp;&nbsp;Merge
			| </a>
		.row-fluid
			h5 People who know {{nickname}}
			ul
				| {{#each knows}}
				li
					| <a {{action goProfile this href=true}}>{{canonicalName}}</a>
				| {{/each}}
.row-fluid
	.span6
		.row-fluid.tag-category
			p.lead Redstar Tags
			| {{view App.TaggerView contactBinding="this" category="redstar" cloud="true" tabindex="1"}}
		.row-fluid.tag-category
			p.lead Industry Tags
			| {{view App.TaggerView contactBinding="this" category="industry" cloud="true" tabindex="2"}}
		//-
			ul.nav.nav-pills
				li.active: a(href='#redstar', data-toggle='pill') Redstar Tags
				li: a(href='#industry', data-toggle='pill') Industry Tags
			.tab-content
				#redstar.tab-pane.fade.active.in
					| {{view App.TaggerView contactBinding="this" category="redstar" cloud="true"}}
				#industry.tab-pane.fade
					| {{view App.TaggerView contactBinding="this" category="industry" cloud="true"}}
	.span6
		.row-fluid
			p.lead Notes
			| {{#each notes}}
			| {{#view view.noteView}}
			p {{body}}
			// TO-DO do nl2br with bindings
			small {{author.canonicalName}} | {{date}}
			// TODO <i class="icon-edit"></i><i class="icon-trash"></i>
			| {{/view}}
			//- | {{else}}
			//- span {{emptyNotesText}}
			| {{/each}}
		.row-fluid
			| <form {{action add on="submit" target="controller"}}>
			| {{view view.newNoteView valueBinding="controller.currentNote"}}
			| <button class="btn pull-right" type="submit" tabindex="4" {{bindAttr disabled="disableAdd"}}>
			i.icon-comment  
			| Add Note
			| </button>
			| </form>



| {{#view view.mergeView viewName="mergeViewInstance"}}
.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='mergeModalLabel', aria-hidden='true')
	.modal-header
		button.close(type='button', data-dismiss='modal') ×
		h3#mergeModalLabel Merge with {{canonicalName}}
	.modal-body
		.row-fluid
			| {{view view.mergeSearchView}}
		| {{#if view.selections.length}}
		.row-fluid
			ul.selections
				| {{#each view.selections}}
				li
					| {{canonicalName}} &mdash; {{email}}
				| {{/each}}
		.alert.alert-block.alert-error
			h4.alert-heading Merging is irreversible!
			p Make absolutely sure you selected the right contacts.
			p
				button.btn(data-dismiss='modal') Cancel
				|  <a href="#" class="btn btn-danger" {{action merge target="view"}}>I understand, let's do this</a>
		| {{/if}}
| {{/view}}
