.row-fluid.top
	img.img-polaroid.img-rounded.span3(src='https://lh4.googleusercontent.com/-CG7j6tomnZg/AAAAAAAAAAI/AAAAAAAAHAk/kDhN-Z5gNJc/s250-c-k/photo.jpg', alt='')
	.span6
		h1 {{canonicalName}}
		h4
			| {{#if isKnown}}
			| <a {{bindAttr href="directMailto"}} target="_blank">{{email}}</a>
			| {{else}}
			| {{email}} &nbsp;&nbsp;<a {{bindAttr href="introMailto"}} target="_blank">{{view view.introView class="icon-bullhorn"}}</a>
			| {{/if}}
		| {{#if firstHistory}}
		div
			p
				| It&apos;s been 
				strong 9 days 
				| since you communicated with {{nickname}}. 
				| <a {{bindAttr href="directMailto"}} target="_blank">Catch up.</a> 
				| You&apos;ve emailed each other {{histories.length}} times.
			p
				| You guys first talked on {{firstHistory.sent}}. The email subject was
				em "{{firstHistory.subject}}"
				| .
		| {{/if}}
	.span3
		h5 People who know {{nickname}}
		ul
			| {{#each knows}}
			li
				| <a {{action goProfile this href=true}}>{{canonicalName}}</a>
			| {{/each}}
.row-fluid
	.span6
		.row-fluid.tag-category
			p.lead Redstar Tags
			| {{view App.TaggerView contactBinding="this" category="redstar" cloud="true"}}
		.row-fluid.tag-category
			p.lead Industry Tags
			| {{view App.TaggerView contactBinding="this" category="industry" cloud="true"}}
		//-
			ul.nav.nav-pills
				li.active: a(href='#redstar', data-toggle='pill') Redstar Tags
				li: a(href='#industry', data-toggle='pill') Industry Tags
			.tab-content
				#redstar.tab-pane.fade.active.in
					| {{view App.TaggerView contactBinding="this" category="redstar" cloud="true"}}
				#industry.tab-pane.fade
					| {{view App.TaggerView contactBinding="this" category="industry" cloud="true"}}
	.span6
		.row-fluid
			p.lead Notes
			| {{#each notes}}
			| {{#view view.noteView}}
			p {{body}}
			// TO-DO do nl2br with bindings
			small {{author.canonicalName}} | {{date}}
			// TODO <i class="icon-edit"></i><i class="icon-trash"></i>
			| {{/view}}
			//- | {{else}}
			//- span {{emptyNotesText}}
			| {{/each}}
		.row-fluid
			| <form {{action add on="submit" target="controller"}}>
			| {{view view.newNoteView valueBinding="controller.currentNote"}}
			| <button class="btn pull-right" type="submit" {{bindAttr disabled="disableAdd"}}>
			i.icon-comment  
			| Add Note
			| </button>
			| </form>
