.row-fluid.top
	// TODO picture not be placeholder
	img.img-polaroid.span3(src='https://lh4.googleusercontent.com/-CG7j6tomnZg/AAAAAAAAAAI/AAAAAAAAHAk/kDhN-Z5gNJc/s250-c-k/photo.jpg', alt='')
	.span6
		h1 {{name}}
		h4 {{email}}
		| {{#if firstHistory}}
		div
			p
				| You emailed {{nickname}} for the first time on {{firstHistory.sent}}.
				br
				| The email subject was
				em "{{firstHistory.subject}}"
				| .
			p
				| You&apos;ve sent
				strong  {{historyCount}} 
				| emails.
		| {{/if}}
	.span3
		h5 People who know {{nickname}}
		ul
			| {{#each knows}}
			li
				| <a {{action goProfile this href=true}}>{{name}}</a>
			| {{/each}}
.row-fluid
	.row-fluid.span6
		.row-fluid
			ul.nav.nav-pills
				li.active: a(href='#redstar', data-toggle='pill') Redstar Tags
				li: a(href='#industry', data-toggle='pill') Industry Tags
			.tab-content
				#redstar.tab-pane.fade.active.in
					| {{view App.TaggerView contactBinding="this" category="redstar"}}
				#industry.tab-pane.fade
					| {{view App.TaggerView contactBinding="this" category="industry"}}
		| {{#if isKnown}}
		.row-fluid.add-a-note
			| <form {{action add on="submit" target="controller"}}>
			| {{view view.newNoteView valueBinding="controller.currentNote"}}
			| <button class="btn pull-right" type="submit" {{bindAttr disabled="disableAdd"}}>
			i.icon-comment  
			| Add Note
			| </button>
			| </form>
		| {{/if}}
	.row-fluid.span6
		p.lead Notes
		| {{#each notes}}
		| {{#view view.noteView}}
		p {{body}}
		// TO-DO do nl2br with bindings
		small {{author.name}} | {{date}}
		// TODO <i class="icon-edit"></i><i class="icon-trash"></i>
		| {{/view}}
		| {{else}}
		span {{emptyNotesText}}
		| {{/each}}
