<Body:>
	<app:content>
		<div class="home">	
			<div class="row-fluid title">
				<h1><span class="red">Red</span>fly</h1>
				<h2>Institutional Memory for Redstar</h2>
				<br>
				<div class="version">v0.2</div>
			</div><!--/row-fluid-->
			<div class="row-fluid">
				<p class="lead">Redfly provides collaborative people tracking for teams.</p>
				<p class="lead">By connecting to your email it can find people that you communicate with and intelligently tag them.</p>
				<p class="lead">Every few days it will send you an update containing people you've newly emailed or responded to so you can review the collected info and add your own notes.</p>
				<p class="lead">You'll be able to view the curated contacts of other team members. <strong>No one can use your contacts without getting your permission first</strong>.</p>
			</div><!--/row-fluid-->
			<div class="row-fluid signup">
				{#if not(_user)}
					{#if not(_showConnect)}
						<a class="btn btn-primary btn-large" x-bind="click: toggle">Connect through email</a>
					{else}
						<form class="well" x-bind="submit: connect">
							<input type="text" placeholder="hugh.jass@redstar.com" value="{_email}">
							<!-- <input type="password" placeholder="Password"> -->
							<span class="help-block">Type your Redstar email (or your Gmail if you don't have one).</span>
							<!-- <label class="checkbox">
								<input type="checkbox"> Check me out
							</label> -->
							<button type="submit" class="btn" disabled="{_connectStarted}">Log In</button>
						</form>
					{/}
				{/}
			</div>
		</div>
	</app:content>
