.row-fluid.title
	h1
		span.red Red
		| fly
	h2 Institutional Memory for Redstar
	br
	.version v0.3
.row-fluid
	p.lead Redfly provides collaborative people tracking for teams.
	p.lead By connecting to your email it can find people that you communicate with and help you intelligently tag them.
	p.lead Every week you will recieve an update containing new correspondants so you can review the collected info and add your own notes.
	p.lead
		| You&apos;ll be able to view the curated contacts of other team members and they&apos;ll be able to view yours. 
		strong Remember, with great power comes great something something.
.row-fluid.signup
	| {{#unless App.user.content}}
	| {{#unless showConnect}}
	| 	<a class="btn btn-primary btn-large" {{action toggle target="view"}}>Connect through email</a>
	| {{else}}
	| <form class="well span5" {{action doSignup on="submit"}}>
	.input-prepend
		span.add-on: i.icon-envelope
		| {{view Ember.TextField placeholder="hugh.jass@redstar.com" valueBinding="App.user.signupIdentity"}}
		// <input type="password" placeholder="Password">
	| {{#if signupError}}
	.alert.alert-error
		a.close(data-dismiss='alert', href='#') ×
		| {{signupError}}
	| {{/if}}
	span.help-block Type your Redstar username or email.
	//
		<label class="checkbox">
		<input type="checkbox"> Check me out
		</label> 
	button.btn(type='submit') Sign Up
	| </form>
	| {{/unless}}
	| {{/unless}}
