.row-fluid
	h1 Bulk Upload

	ul
		li The importer will make the best sense of your file that it can.
		li Data in columns that do not correspond to any contact field will be added as generic notes.

	p
		| You will be able to review the contacts we find before they are added. 
		strong If they don't look right, check your file! 
		| Chris won't fix it for you if you import a bunch of nonsensical data.

	br
	br

	+if('error')
		.alert.alert-error {{error}}


	+view('view.startView')
		.span6.offset3
			form.well(enctype='multipart/form-data')
				span.help-block Select a .csv file to upload
				| {{view view.fileInputView class="span9"}}


	+view('view.parsingView')
		.span1.offset6
			i.icon-spinner.icon-spin.icon-4x


	+view('view.parsedView')
		table.table
			thead
				tr
					| {{#each processed.fields}}
					th {{this}}
					| {{/each}}
					th Status
			tbody
				| {{#each processed.results}}
				| <tr {{bindAttr class="status.new:success status.blacklisted:info status.error:error"}}>
				| {{#collection contentBinding="controller.processed.fields" itemViewClass="view.resultFieldView"}}
				//- TO-DO lots of copypasta
				| {{#if view.typeEmails}}
				| {{#each view.result.emails}}
				ul.unstyled
					li {{this}}
				| {{/each}}
				| {{/if}}
				| {{#if view.typeNames}}
				| {{#each view.result.names}}
				ul.unstyled
					li {{this}}
				| {{/each}}
				| {{/if}}
				| {{#if view.typeTags}}
				| {{#each view.result.tags}}
				ul.unstyled
					li
						i.icon-tag.muted
						| &nbsp;&nbsp; {{this}}
				| {{/each}}
				| {{/if}}
				| {{#if view.typeNotes}}
				| {{#each view.result.notes}}
				ul.unstyled
					li
						i.icon-comment.muted
						| &nbsp;&nbsp; {{this}}
				| {{/each}}
				| {{/if}}
				| {{/collection}}
				td
					| {{#if status.new}}
					| 	OK
					| {{/if}}
					| {{#if status.blacklisted}}
					| 	That&apos;s a Redstar person and will be ignored.
					| {{/if}}
					| {{#if status.error}}
					|	{{status.error}}
					br
					br
					|	Entry will be ignored.
					| {{/if}}
				| </tr>
				| {{/each}}
		.form-actions
			button.btn.btn-danger.pull-right(type='button', action='import target="view"') Import
			button.btn.btn-warning.pull-right(type='button', action='reset target="view"') Reset 
