.row-fluid.top
	.span2.picture
		| <a {{action goContact this href=true}}>
		| <img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
		| </a>
	.span4
		.row-fluid
			h3 {{canonicalName}}
			| {{#unless view.isKnown}}
			p.bullhorn
				| <a {{bindAttr href="view.introMailto"}} target="_blank">{{view view.introView class="icon-bullhorn"}}</a>
			| {{/unless}}
			| {{position}}{{#if position}},{{/if}}} {{company}} {{#if yearsExperience}} with {{yearsExperience}} years experience. {{/if}}
			+if('linkedin')
				br
				a(bindAttr='href="view.linkedinMail"', target='_blank') Send a Linkedin inMail
		.row-fluid
			| {{#if view.isKnown}}
			h4
				| <a {{bindAttr href="view.directMailto"}} target="_blank">{{email}}</a>
			| {{/if}}
		.row-fluid
			p
				+view('view.socialView')
					a(href='#', bindAttr='class=":social linkedin::muted"', action='view.openLinkedin target="view"')
						i.icon-linkedin-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social twitter::muted"', action='view.openTwitter target="view"')
						i.icon-twitter-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social facebook::muted"', action='view.openFacebook target="view"')
						i.icon-facebook-sign.icon-large
						|  
					| &nbsp;&nbsp;
