@import 'nib'

@import 'vendor/jquery.pnotify.default'
@import 'vendor/animate'


// Bootstrap variables.

textColor = #333	// This is itself derived from @grayDark
linkColor = #08c

baseFontSize = 14px
baseLineHeight = 20px
baseBorderRadius = 4px



// Utilities.

.bold
	font-weight bold

.center
	display block
	margin-left auto
	margin-right auto
