// TODO XXX figure out how to have css as part of convoy. I'll need it for pnotify even if I eventually change bootstrap to less

// @import '/bootstrap/bootstrap.css'
// @import '/bootstrap/bootstrap-responsive.css'

// @import '/pnotify/jquery.pnotify.default.css'


@import '../styles/app/index'
