.well.activity
	| {{#unless App.user.content}}
	.nav-header This Week In Summary
	.summary
		.breadcrumb
			| Contacts queued
			span.pull-right.badge.badge-info {{contactsQueued}}
		.breadcrumb
			| Tags created
			span.pull-right.badge.badge-info {{tagsCreated}}
		.breadcrumb
			| Notes authored
			span.pull-right.badge.badge-info {{notesAuthored}}
		| {{#if mostVerboseTag}}
		.breadcrumb
			| Most verbose tag
			.own-line "{{mostVerboseTag}}"
		| {{/if}}
		.breadcrumb
			| Most alarming email subject
			.own-line
				em "Re: Do you remember eating this??"
		.breadcrumb
			| Most active user
			.own-line
				strong {{mostActiveUser}}
	| {{else}}
	.nav-header Activity Feed
	.feed
		+each('feed')
			| {{#view view.feedItemView}}
			| {{#if typeInitialContact}}
			+linkTo('contact this')
				h4 {{canonicalName}}
			p
				| Added by 
				+linkTo('profile addedBy')
					| {{addedBy.canonicalName}}
				|  on {{added}}
			| {{view App.TaggerView contactBinding="this"}}
			| {{/if}}
			| {{#if typeContact}}
			+linkTo('contact this')
				h4 {{canonicalName}}
			p
				| Was just added by 
				+linkTo('profile addedBy')
					| {{addedBy.canonicalName}}
				| !
			| {{view App.TaggerView contactBinding="this"}}
			| {{/if}}
			| {{#if typeLinkedin}}
			+linkTo('profile updater')
				| {{updater.canonicalName}}
			|  augmented 
			+linkTo('contact this')
				| {{canonicalName}}
			|  with Linked
			i.icon-linkedin-sign
			|  data.
			| {{/if}}
			| {{#if typeTag}}
			+linkTo('profile creator')
				| {{creator.canonicalName}}
			|  added the tag 
			em "{{body}}"
			|  to 
			+linkTo('contact contact')
				| {{contact.canonicalName}}
			| .
			| {{/if}}
			| {{#if typeNote}}
			+linkTo('profile author')
				| {{author.canonicalName}}
			|  wrote a note about 
			+linkTo('contact contact')
				| {{contact.canonicalName}}
			| : "{{preview}}"
			| {{/if}}
			| {{/view}}
	| {{/unless}}
