.well.activity
	| {{#unless App.user}}
	.nav-header This Week In Summary
	.summary
		.breadcrumb
			| Contacts queued
			span.pull-right.badge.badge-info {{view.parentView.controller.contactsQueued}}
		.breadcrumb
			| Tags created
			span.pull-right.badge.badge-info {{view.parentView.controller.tagsCreated}}
		.breadcrumb
			| Notes authored
			span.pull-right.badge.badge-info {{view.parentView.controller.notesAuthored}}
		| {{#if view.parentView.controller.mostVerboseTag}}
		.breadcrumb
			| Most verbose tag
			.own-line "{{view.parentView.controller.mostVerboseTag}}"
		| {{/if}}
		.breadcrumb
			| Most active user
			.own-line
				strong {{view.parentView.controller.mostActiveUser}}
	| {{else}}
	.nav-header Activity Feed
	.feed.flipcardparent
		+each('feed')
			.feeditem
				| {{#view view.feedItemView}}

				| {{#if typeInitialContact}}
				{{#link-to "contact" this}}
				h4 {{canonicalName}}
				{{/link-to}}
				div
					span.leftone Added by 
					{{#with addedBy}}
					{{view view.parentView.userview}}
					{{/with}}
					span {{when}}
				| {{view App.TaggerView contactBinding="this"}}
				| {{/if}}

				| {{#if typeContact}}
				{{#link-to "contact" this}}
				h4 {{canonicalName}}
				{{/link-to}}
				div
					span.leftone Was just added by 
					{{#with addedBy}}
					{{view view.parentView.userview}}
					{{/with}}
					span !
				| {{view App.TaggerView contactBinding="this"}}
				| {{/if}}

				| {{#if typeLinkedin}}
				{{#with updatedBy}}
				{{view view.parentView.userview}}
				{{/with}}
				span  augmented 
				{{#link-to "contact" this}} {{canonicalName}} {{/link-to}}
				span  with Linked
				i.icon-linkedin-sign
				span  data.
				| {{/if}}

				| {{#if typeTag}}
				{{#with creator}}
				{{view view.parentView.userview}}
				{{/with}}
				span.leftone added the tag
				em &nbsp;"{{body}}"
				span to 
				{{#link-to "contact" contact}} {{contact.canonicalName}} {{/link-to}}
				span .
				| {{/if}}

				| {{#if typeNote}}
				{{#with author}}
				{{view view.parentView.userview}}
				{{/with}}
				span  wrote a note about 
				{{#link-to "contact" contact}} {{contact.canonicalName}} {{/link-to}}
				span : "{{preview}}"
				| {{/if}}

				| {{/view}}
	| {{/unless}}
