{{#if all.length}}
i.total-results {{#if hiding}}{{filteredCount}} of {{/if}}{{totalCount}} results
{{else}}
i &nbsp;
{{/if}}

h3
	| Filters
{{#if searchtag}}
.searchtag
	span {{searchtag}}
	a(href='#', action='loseTag')
		i.icon-remove
{{/if}}

{{#if orgTagsToSelect.length}}
h4
	| {{App.orgTitle}} Tags
	{{view App.FilterToggleView id="toggleorg" class="icon-caret-down"}}
div(bindAttr='class=":filters :toggleorg theResults::disabled"')
	.opradbutts
		{{view Em.RadioButton title="OR" option="0" group="org"}}
		{{view Em.RadioButton title="AND" option="1" group="org"}}
	{{#each item in orgTagsToSelect}}
	.checkfilter
		|<label>
		{{view Ember.Checkbox checkedBinding="item.checked"}}
		{{item.label}}
		|</label>
	{{/each}}
	{{view Ember.TextField class="newtag org" changeBinding="view.newTag" placeholder="new organisation tag"}}
{{/if}}

{{#if indTagsToSelect.length}}
h4
	| Industry Tags
	{{view App.FilterToggleView id="toggleind" class="icon-caret-down"}}
div(bindAttr='class=":filters :toggleind theResults::disabled"')
	.opradbutts
		{{view Em.RadioButton title="OR" option="0" group="industry"}}
		{{view Em.RadioButton title="AND" option="1" group="industry"}}
	{{#each item in indTagsToSelect}}
	.checkfilter
		|<label>
		{{view Ember.Checkbox checkedBinding="item.checked"}}
		{{item.label}}
		|</label>
	{{/each}}
	{{view Ember.TextField class="newtag industry" changeBinding="view.newTag" placeholder="new industry tag"}}
{{/if}}

{{#if noseToPick.length}}
h4
	| Knows
	{{view App.FilterToggleView id="togglenose" class="icon-caret-down"}}
div(bindAttr='class=":filters theResults::disabled"')
	{{#each item in noseToPick}}
	.togglenose.checkfilter
		|<label>
		{{view Ember.Checkbox checkedBinding="item.checked"}}
		{{item.label}}
		|</label>
	{{/each}}
{{/if}}

{{#if yearsToSelect.length}}
h4
	| Experience
{{view Ember.Select
|	contentBinding="yearsToSelect"
|	optionValuePath="content.years"
|	optionLabelPath="content.label"
|	valueBinding="years"
|	prompt="Select a minimum ..."
}}
{{/if}}

