{{#if showthisreq}}
.thisReq.myLightSpeedIn.modal.request(tabindex='-1', show='true', role='dialog', aria-labelledby='myModalLabel')
	.modal-header
		.row
			.col-md-2
				{{#link-to "profile" showthisreq.user}}
				img.col-md-11.img-rounded(bindAttr='src="showthisreq.user.canonicalPicture"')
				{{/link-to}}
				br
				i.fright {{showthisreq.user.canonicalName}}
			.col-md-9
				h3#myModalLabel {{showthisreq.text}}
			.col-md-1
				a.close(action='closeModal target="view"')
					i.text-error.fa.fa-remove-sign
	.modal-body.expandedcontent
		| {{#each showthisreq.response itemViewClass="App.ResponseView" itemController="response"}}
		{{partial "response"}}
		| {{/each}}
	p
		br
{{/if}}
ul.nav.nav-tabs
	h4 Past requests
	li.minerex
		<a {{action selectTab "minerex" target="view"}}>Mine</a>
	li.othersrex.active
		<a {{action selectTab "othersrex" target="view"}}>Others</a>
.tab-content
	.tab-pane.minerex
		| {{#each my_reqs itemViewClass="App.RequestView" itemController="request"}}
		div(bindAttr='class=":col-md-12 :oldrequests hoverable"', action='showold this target="view"')
			| {{#if urgent}}
			i.text-error.fa.fa-flag
			&nbsp;&nbsp;
			| {{/if}}
			| {{#if response.length}}
			col-md-.badge.badge-success {{response.length}}
			&nbsp;&nbsp;
			| {{/if}}
			{{text}}
		| {{/each}}
		.row
			.col-md-2
			.col-md-8
				hr
				ul.pager
					li.previous
						| {{#if my_hasPrev}}<a href="#" {{action prevPage "my" target="view"}}>&larr; Back</a>{{/if}}
					li.next
						| {{#if my_hasNext}}<a href="#" {{action nextPage "my" target="view"}}>More &rarr;</a>{{/if}}

	.tab-pane.active.othersrex
		| {{#each other_reqs itemViewClass="App.RequestView" itemController="request"}}
		div(bindAttr='class=":col-md-12 :oldrequests hoverable"', action='showold this target="view"')
			| {{#if urgent}}
			i.text-error.fa.fa-flag
			&nbsp;&nbsp;
			| {{/if}}
			| {{#if response.length}}
			col-md-.badge.badge-success {{response.length}}
			&nbsp;&nbsp;
			| {{/if}}
			{{text}}
		| {{/each}}
		.row
			.col-md-2
			.col-md-8
				hr
				ul.pager
					li.previous
						| {{#if other_hasPrev}}<a href="#" {{action prevPage "other" target="view"}}>&larr; Back</a>{{/if}}
					li.next
						| {{#if other_hasNext}}<a href="#" {{action nextPage "other" target="view"}}>More &rarr;</a>{{/if}}

