<Body:>
	<app:content>
		<div class="contact">
			<div class="row-fluid top">
				<!-- TODO try as class="img-polaroid" with new bootstrap and change styl file. Corners become no longer rounded -->
				<img class="thumbnail" height="160" src="https://lh4.googleusercontent.com/-CG7j6tomnZg/AAAAAAAAAAI/AAAAAAAAHAk/kDhN-Z5gNJc/s250-c-k/photo.jpg" alt="">
				<h1 class="name">{_contact.name}</h1>
				<ui:tagger contact="{_contact}">
			</div>
			<div class="row-fluid">
				<form x-bind="submit: add">
					<!-- TODO formatting (newlines) are lost on submit. Or perhaps just not rendered. -->
					<textarea placeholder="Write a note..." rows="3">{_currentNote}</textarea>
					<!-- TODO make this button only appear if there's text in the textaea -->
					<button class="btn" type="submit">Add Note</button>
				</form>
				{#each _contact.notes}
					<blockquote>
						<p>{.text}</p>
						<small>{.author} | {date(.date)}</small>
					</blockquote>
				{else}
					<span>No notes about this contact yet.</span>
				{/}
			</div>
		</div>
	</app:content>
