<Title:>
	{{roomName}} - {_room.visits} visits

<Header:>
	<!-- This is a component defined in the /ui directory -->
	<ui:connectionAlert>

<Body:>
	<h1>{_room.welcome}</h1>
	<p><label>Welcome message: <input value="{_room.welcome}"></label></p>

	<!-- Other templates are referenced like HTML elements -->
	<p>This page has been visted {_room.visits} times. <app:timer></p>

	<p>Let's go <a href="/{{randomUrl}}">somewhere random</a>.</p>

<timer:>
	{#if _stopped}
		<a x-bind="click:start">Start timer</a>
	{else}
		You have been here for {_timer} seconds. <a x-bind="click:stop">Stop</a>
	{/}
