<Body:>
	<app:content>
		<div class="row-fluid title">
			<h1><span class="red">Red</span>fly</h1>
			<h2>Institutional Memory for Redstar</h2>
			<br>
			<div class="version">v0.1</div>
		</div><!--/row-->
		<div class="row-fluid">
			<p class="lead">Redfly provides collaborative people tracking for teams.</p>
			<p class="lead">By connecting to your email it can find people that you communicate with and intelligently tag them.</p>
			<p class="lead">Every few days it will send you an update containing people you've newly emailed or responded to so you can review the collected info and add your own notes.</p>
			<p class="lead">You'll be able to view the curated contacts of other team members. <strong>No one can use your contacts without getting your permission first</strong>.</p>
		</div><!--/row-->
		<div class="row-fluid signup">
			<a id="connectButton" class="btn btn-primary btn-large">Connect through Gmail</a>
			<form id="connectForm" class="well hide">
				<input type="text" placeholder="Username">
				<input type="password" placeholder="Password">
				<span class="help-block">Please type the username and password you use to sign in to Gmail. They will not be stored.</span>
				<!-- <label class="checkbox">
					<input type="checkbox"> Check me out
				</label> -->
				<button type="submit" class="btn">Sign in</button>
			</form>
		</div>
	</app:content>
