<import: src="home">
<import: src="contact">
<import: src="search">
<import: src="tags">
<import: src="report">


<Root:>
	<html>

<Title:>
	Redfly, the best damn CRM tool there ever was.

<Head:>
	<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	
	<script src="/modernizr-2.5.3.custom.js"></script>


<Header:>
	<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

	<ui:connectionAlert>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Redfly</a>
				<div class="btn-group pull-right">


					<!--
					<form class="form-inline">
						<input type="text" class="input-small" placeholder="Gmail username">
						<input type="password" class="input-small" placeholder="Password">
						<label class="checkbox">
							<input type="checkbox"> Remember me
						</label>
						<button type="submit" class="btn">Sign in</button>
					</form>
					-->


					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> Username
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="#">Sign Out</a></li>
					</ul>




				</div>
				<div class="nav-collapse">
					<ul class="nav">
						<!-- TODO make the active tab switch: page('home', 'active') -->
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/tags">Tags</a></li>
						<li><a href="/report">Report a bug</a></li>
						<form class="navbar-search pull-left">
							<input type="text" class="search-query" placeholder="Search">
						</form>
					</ul>
				</div>
			</div>
		</div>
	</div>


<content: nonvoid>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="sidebar-nav well">
					<!-- <h2>Recent Contacts</h2> -->
					<div class="well">

							<h3>{_recentContact.name}</h3>
							<p>Added by {_recentContact.added_by} on {date(_recentContact.date)}</p>

							<ui:tagger contact="{_recentContact}">

							<a class="btn" href="#">View</a>

<!--
 						{#each _recentContacts as :contact}
							<h3>{.name}</h3>
							<p>Added by {.added_by} on {.date}</p>

							<ui:tagger contact="{:contact}">

							<a class="btn" href="#">View</a>
						{/}
 -->					
						</div><!--/span-->
				</div><!--/.well -->
			</div><!--/span-->
			<div class="span9">


			{{{content}}}


			</div><!--/span-->
		</div><!--/row-->


		<hr class="footer-line">
		<footer>
			<p>&copy; Redstar 2012</p>
		</footer>
	</div><!--/.fluid-container-->


<Scripts:>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/bootstrap/bootstrap.js"></script>

<Tail:>
	<!--
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27348254-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	-->
