<Root:>
	<html>

<Title:>
	Redfly, the best damn CRM tool there ever was.

<Head:>
	<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	
	<script src="/modernizr-2.5.3.custom.js"></script>


<Header:>
	<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

	<ui:connectionAlert>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Redfly</a>
				<div class="btn-group pull-right">


					<!--
					<form class="form-inline">
						<input type="text" class="input-small" placeholder="Gmail username">
						<input type="password" class="input-small" placeholder="Password">
						<label class="checkbox">
							<input type="checkbox"> Remember me
						</label>
						<button type="submit" class="btn">Sign in</button>
					</form>
					-->


					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> Username
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="#">Sign Out</a></li>
					</ul>




				</div>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<form class="navbar-search pull-left">
							<input type="text" class="search-query" placeholder="Search">
						</form>
					</ul>
				</div>
			</div>
		</div>
	</div>


<Body:>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="sidebar-nav well">
					<!-- <h2>Recent Contacts</h2> -->
					<div class="well">
						<h3>John Resig</h3>
						<p>Added by Kwan Lee on August 9</p>
						<a class="btn" href="#">View</a>
					</div><!--/span-->

				</div><!--/.well -->
			</div><!--/span-->
			<div class="span9">
				<div class="row-fluid title">
					<h1><span class="red">Red</span>fly</h1> v0.1
				</div><!--/row-->
				<div class="row-fluid">
					<p class="lead">Redfly provides collaborative people tracking for teams.</p>
					<p class="lead">By connecting to your email it can find people that you communicate with and intelligently tag them.</p>
					<p class="lead">Every few days it will send you an update containing people you've newly emailed or responded to so you can review the collected info and add your own notes.</p>
					<p class="lead">You'll be able to view the curated contacts of other team members. <strong>No one can use your contacts without getting your permission first</strong>.</p>
				</div><!--/row-->
				<div class="row-fluid signup">
					<a id="connectButton" class="btn btn-primary btn-large">Connect through Gmail</a>
					<form id="connectForm" class="well hide">
						<input type="text" placeholder="Username">
						<input type="password" placeholder="Password">
						<span class="help-block">Please type the username and password you use to sign in to Gmail. They will not be stored.</span>
						<!-- <label class="checkbox">
							<input type="checkbox"> Check me out
						</label> -->
						<button type="submit" class="btn">Sign in</button>
					</form>
				</div>
			</div><!--/span-->
		</div><!--/row-->


		<hr class="footer-line">
		<footer>
			<p>&copy; Redstar 2012</p>
		</footer>
	</div><!--/.fluid-container-->


<Scripts:>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/bootstrap/bootstrap.js"></script>

	<script src="//coffeescript.org/extras/coffee-script.js"></script>

	<script type="text/coffeescript" x-no-minify>
		$ ->
			$('#connectButton').click ->
				$('#connectButton, #connectForm').toggle()
	</script>

<Tail:>
	<!--
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27348254-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	-->
