.contact

	.top
		padding-bottom 30px
		margin-bottom 30px
		border-bottom 1px solid #EEE
		> .name
			font-size 40px
		.thumbnail
			margin-right 10px
			float left
		.tagger
			display inline-block
			margin-top 15px
			width 340px

	textarea
		display block
		width 513px
	button
		margin-left 446px
	blockquote
		small::before
			content normal
