h1
	display inline
	font-size 54px
	.red
		color #9D261D

h2
	display inline
	margin-left 15px

.version
	margin-top -10px

.title
	margin-top 1px
	margin-bottom 30px

.signup
	margin-top 30px
	.well
		width: 300px
