@import '../base'


.navbar-search
	margin-left 15px

.form-inline
	margin-top 2px
	margin-bottom 0
	input
		margin-left 5px
	label
		margin 5px


.sidebar-nav
	height 620px
	// border 1px whiteSmoke solid
	// h2
	// 	text-align: center
	.well
		background-color: white


h1
	font-size 54px
	.red
		color #9D261D

.title
	margin-bottom 30px

.signup
	margin-top 30px
	.well
		width: 300px