@import '../base'


.navbar-search
	margin-left 15px
.form-inline
	margin-top 2px
	margin-bottom 0
	.input-small
		width 150px
		margin-right 10px
.btn
	.caret
		margin-left 5px


.sidebar-nav
	height 620px
	// border 1px whiteSmoke solid
	// h2
	// 	text-align: center
	.well
		background-color: white



@import 'home'
@import 'profile'
@import 'contact'
@import 'search'
@import 'tags'
@import 'report'