.row-fluid.top
	.span3.picture
		| <img class="img-polaroid img-rounded" {{bindAttr src="canonicalPicture"}}>

		| {{#if isKnown}}
		| {{view App.EditPictureView pictureBinding="picture"}}

		| {{#if noneButIAdded}}
		.row-fluid.actions
			span.contact-actions
				a(href='#', role="button", action='showMerge target="view"')
					i.icon-resize-small.icon-2x
		| {{/if}}

		| {{#unless view.parentView.classifying}}
		span.contact-actions
			a(href='#', action='remove')
				i.icon-trash.icon-2x
		| {{/unless}}

		| {{/if}}

	.span6
		.row-fluid
			| {{#if hasIntro}}
			p.bullhorn
				a(href='#', action='introMailto target="view"')
					{{view App.IntroView}}
			| {{/if}}
			.maybevip
				a(href='#', action='toggleVIP')
					+if('isVip')
						i.icon-star.icon-2x.fullredstar
						+else
						+if('isKnown')
							i.icon-star-empty.icon-2x.emptygraystar
			| {{#if canHide}}
			a(href='#', action='hideItAll this target="view"')
				h3 {{canonicalName}}
			| {{else}}
			h3 {{canonicalName}}
			| {{/if}}
			| {{#if allowEdits}}
			| {{view view.editView allAttribute="names" primaryAttribute="name" otherAttribute="aliases" prettyPrimaryAttribute="Display Name" prettyOtherAttribute="Aliases"}}
			| {{/if}}
			br
			+view('view.positionView')
				| {{position}}{{#if position}},{{/if}}} {{company}} {{#if yearsExperience}} with {{yearsExperience}} years experience. {{/if}}
				+if('allowEdits')
					| {{#if editpositiondetails}}
					i {{editpositiondetails}}&nbsp;
					| {{/if}}
					+view('view.editView')
						a(href='#', action='toggle target="view"')
							i.icon-pencil
						div(bindAttr='class="view.show::hide"')
							.popover
								a.close(href='#', action='toggle target="view"')
									i.icon-remove
								.nav-header Position and Experience
								div(bindAttr='class=":control-group view.positionFieldInstance.error:error"')
									+view('view.field valueBinding="position" viewName="positionFieldInstance" placeholder="position"')
									span.help-block {{view.positionFieldInstance.error}}
								div(bindAttr='class=":control-group view.companyFieldInstance.error:error"')
									+view('view.field valueBinding="company" viewName="companyFieldInstance" placeholder="company"')
									span.help-block {{view.companyFieldInstance.error}}
								div(bindAttr='class=":control-group view.yearsExperienceFieldInstance.error:error"')
									+view('view.field valueBinding="yearsExperience" viewName="yearsExperienceFieldInstance" placeholder="years of experience"')
									span.help-block {{view.yearsExperienceFieldInstance.error}}
								.pull-right
									+unless('view.working')
										a(href='#', action='save target="view"')
											| Save 
											i.icon-ok
										+else
										i.icon-spinner.icon-spin

				+if('linkedin')
					br
					a(bindAttr='href="linkedinMail"', target='_blank') Send a Linkedin inMail
		.row-fluid
			| {{#if showEmail}}
			h4.email
				| <a {{bindAttr href="directMailto"}} target="_blank">{{email}}</a>
			| {{view view.editView allAttribute="emails" primaryAttribute="email" otherAttribute="otherEmails" prettyPrimaryAttribute="Primary Email" prettyOtherAttribute="Other Emails"}}
			| {{/if}}
		| {{#if firstHistory}}
		.row-fluid
			| {{#if spokenTwice}}
			p.messages
				| You last <a {{bindAttr href="gmailSearch"}} target="_blank">emailed each other </a>
				strong {{lastTalked}}
			| {{/if}}
			p
				| You and {{nickname}} first talked {{firstTalked}}. The email subject was&nbsp;
				| {{#if spokenTwice}}
				em "{{firstHistory.subject}}"
				| {{else}}
				| <a {{bindAttr href="gmailSearch"}} target="_blank">{{firstHistory.subject}}</a>
				| {{/if}}
				| .
		| {{else}}	
		| {{#if lastMail}}
		.row-fluid
			p
				b Last mail:&nbsp;
				span
					+linkTo('profile lastMail.sender') {{lastMail.sender.canonicalName}}
				span
					&nbsp;{{sentdate}}
		| {{/if}}		
		| {{/if}}


		+if('waitingForMeasures')
			i.icon-spinner.icon-spin
		+unless('waitingForMeasures')
			+if('isKnown')
				.row-fluid.setmeasure(title='how well do you know this contact?')
					span.leftsliderlabel Relationship Strength 
					.starcontainer
						+view('view.starView measure="familiarity"')
				.row-fluid.setmeasure(title='how influential is this contact?')
					span.leftsliderlabel Influence 
					.starcontainer
						+view('view.starView measure="reachability"')
			.row-fluid
				+view('view.measureBarView measure="reachability"')
					+if('view.avgMeasure')
						+unless('isKnown')
							span.leftbarlabel Influence
						.barviewcontainer
							| <div {{bindAttr class="view.ltORgtClass"}} {{bindAttr style="view.widthAsPcage"}}>
							| </div>

	.span3
		.row-fluid
			p
				+view('view.socialView')
					a(href='#', bindAttr='class=":social linkedin::muted"', action='openLinkedin target="view"')
						i.icon-linkedin-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social twitter::muted"', action='openTwitter target="view"')
						i.icon-twitter-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social facebook::muted"', action='openFacebook target="view"')
						i.icon-facebook-sign.icon-large
						|  
					| &nbsp;&nbsp;
					+view('view.editView')
						a(href='#', action='toggle target="view"')
							i.icon-pencil
						div(bindAttr='class="view.show::hide"')
							.popover
								a.close(href='#', action='toggle target="view"')
									i.icon-remove
								.nav-header Social Links
								div(bindAttr='class=":control-group view.linkedinFieldInstance.error:error"')
									span.help-inline {{view.prefixes.linkedin}}
									+view('view.field valueBinding="linkedin" network="linkedin" viewName="linkedinFieldInstance" placeholder="Linkedin"')
									span.help-block {{view.linkedinFieldInstance.error}}
								div(bindAttr='class=":control-group view.twitterFieldInstance.error:error"')
									span.help-inline {{view.prefixes.twitter}}
									+view('view.field valueBinding="twitter" network="twitter" viewName="twitterFieldInstance" placeholder="Twitter"')
									span.help-block {{view.twitterFieldInstance.error}}
								div(bindAttr='class=":control-group view.facebookFieldInstance.error:error"')
									span.help-inline {{view.prefixes.facebook}}
									+view('view.field valueBinding="facebook" network="facebook" viewName="facebookFieldInstance" placeholder="Facebook"')
									span.help-block {{view.facebookFieldInstance.error}}
								.pull-right
									+unless('view.working')
										a(href='#', action='save target="view"')
											| Save 
											i.icon-ok
										+else
										i.icon-spinner.icon-spin

		.row-fluid
			h5.knows-header People who know {{nickname}}
			ul.knows-list
				| {{#each knowsSome}}
				li
					+linkTo('profile this')
						| {{canonicalName}}
				| {{/each}}


.row-fluid
	.span12
		.row-fluid.tag-category
			.span4
				p.lead project
				| {{view App.FullTaggerView contactBinding="this" category="project" full="true" tabindex="1"}}
			.span4
				p.lead theme
				| {{view App.FullTaggerView contactBinding="this" category="theme" full="true" tabindex="1"}}
			.span4
				p.lead role
				| {{view App.FullTaggerView contactBinding="this" category="role" full="true" tabindex="1"}}
.row-fluid
	.span6
		.row-fluid.tag-category
			p.lead Industry Tags
			| {{view App.FullTaggerView contactBinding="this" category="industry" full="true" tabindex="2"}}
	.span6
		.row-fluid
			p.lead Notes
			| {{#collection contentBinding="notes" itemViewClass="App.NoteView"}}
			+linkTo('profile view.content.author class="pull-left"')
				| <img class="media-object" {{bindAttr src="view.content.author.canonicalPicture"}}>
			// TO-DO do nl2br with bindings
			.media-body
				p {{{view.content.body}}}
				small.muted
					+linkTo('profile view.content.author') {{view.content.author.canonicalName}}
					span  | {{view.naturaldate}}
				// TODO <i class="icon-edit"></i><i class="icon-trash"></i>
			//- | {{else}}
			//- span {{emptyNotesText}}
			| {{/collection}}
		.row-fluid
			| <form {{action add on="submit" target="controller"}}>
			| {{view view.newNoteView valueBinding="controller.currentNote"}}
			| <button class="btn pull-right" type="submit" tabindex="4" {{bindAttr disabled="disableAdd"}}>
			i.icon-comment
			| Add Note
			| </button>
			| </form>
| {{#view view.mergeView viewName="mergeViewInstance"}}
.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='mergeModalLabel', aria-hidden='true')
	.modal-header
		button.close(type='button', data-dismiss='modal')
		h3#mergeModalLabel Merge with {{canonicalName}}
	.modal-body
		.muted Search your contacts by name or email.
		.row-fluid
			| {{view view.mergeSearchView}}
		| {{#if view.selections.length}}
		.row-fluid
			ul.selections
				| {{#each view.selections}}
				li
					| {{canonicalName}} &mdash; {{email}}
				| {{/each}}
		.alert.alert-block.alert-error
			h4.alert-heading Merging is irreversible!
			p Make absolutely sure you selected the right contacts.
			p
				button.btn(data-dismiss='modal') Cancel
				|  <a href="#" class="btn btn-danger" {{action merge target="view"}}>I understand, let's do this</a>
		| {{/if}}
| {{/view}}
