.row-fluid.response
	.span1
		+linkTo('profile user')
			| <img class=".span11 img-rounded" {{bindAttr src="user.canonicalPicture"}}>
	.span2.suggesttext
		strong
			+linkTo('profile user') {{user.canonicalName}}
		br
		| {{#if body}}
		span commented:
		| {{else}}
		span suggested:
		| {{/if}}
	.span9.suggestions
		| {{#if body}}
		{{body}}
		| {{else}}
		| {{#each contact itemViewClass="App.ContactView" itemController="contact"}}
		+linkTo('contact this')
			.span6
				.span3.imgpad
					<img class=".span11 img-rounded" {{bindAttr src="canonicalPicture"}}>
				.span9
					| {{#if view.parentView.parentView.idsme}}
					span.bullhorn
						a(href='#', action='introMailto target="view.parentView"')
							{{view App.IntroView}}
					| {{/if}}
					span {{canonicalName}}
					br
					span {{position}}
					br
					span {{company}}
		| {{/each}}
	| {{/if}}
