.row-fluid.response
	.span2
		{{view view.respUserView}}
	.span10.suggestions
		br
		| {{#if body}}
		{{body}}
		| {{else}}
		| {{#each contact itemViewClass="App.ContactView" itemController="contact"}}
		+linkTo('contact this')
			.span6
				.span3.imgpad
					<img class=".span11 img-rounded" {{bindAttr src="canonicalPicture"}}>
				.span9
					| {{#if view.parentView.parentView.idsme}}
					span.bullhorn
						a(href='#', action='introMailto target="view.parentView"')
							{{view App.IntroView}}
					| {{/if}}
					span {{canonicalName}}
					br
					span {{position}}
					br
					span {{company}}
		| {{/each}}
		| {{/if}}
