.row-fluid.response
	| {{#if isLink}}
	.span12.islink
		span {{user.nickname}} has suggested a LinkedIn Contact&nbsp;&nbsp;
		a(target='_blank', bindAttr='href="body"')
			img(class='linkedinlogo', src='http://dlc1-s.licdn.com/sites/default/files/Logo-59px-R.png')
	| {{else}}
	.span2
		{{view view.respUserView}}
	.span10.suggestions
		| {{#if isMsg}}
		{{body}}
		| {{else}}
		| {{#each contact itemViewClass="App.ContactView" itemController="contact"}}
		+linkTo('contact this')
			.span6
				.span3.imgpad
					<img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
				.span9
					| {{#if view.parentView.parentView.idsme}}
					span.bullhorn
						a(href='#', action='introMailto target="view.parentView"')
							{{view App.IntroView}}
					| {{/if}}
					span {{canonicalName}}
					br
					span {{position}}
					br
					span {{company}}
		| {{/each}}
		| {{/if}}
	| {{/if}}
.breaker.span12
	.span2
	.span8
	.span2
