// TODO do connection alert if possible, remove .connection styles if not
// <ui:connectionAlert>

.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			+linkTo('index class="brand"', 'Redfly')
			| {{#if App.user.content}}
			.nav-collapse.collapse
				ul.nav
					//- li
					//- 	+linkTo('home', 'Home')
					li
						+linkTo('classify', 'Classify')
					//- li
					//- 	+linkTo('create', 'Create')
					//- li
					//- 	+linkTo('import', 'Bulk Upload')
					li
						+linkTo('create', 'Create')
					li
						+linkTo('contacts', 'Contacts')
					li
						+linkTo('tags', 'Tags')
					//- li
					//- 	+linkTo('report', 'Report a bug')
					| {{view view.spotlightSearchView info="true" viewName="spotlightSearchViewInstance"}}
			| {{/if}}
			.pull-right
				| {{#unless App.user.content}}
				a.btn(href='/authorize') Log In
				| {{else}}
				.btn-group
					+linkTo('userProfile class="btn"')
						i.icon-user
						|  {{App.user.name}}
					a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
						span.caret
					ul.dropdown-menu(role='menu')
						li
							+linkTo('userProfile', 'Profile')
						li
							+linkTo('classify', 'Classify')
						li
							+linkTo('import', 'Bulk Upload')
						li
							+linkTo('leaderboard', 'Leaderboard')						
						li.divider
						li
							a(href='/linker')
								| Sync Linked
								i.icon-linkedin-sign.icon-large
						li.divider
						li
							a(href='mailto:pharcosyle@gmail.com?subject=Dear Chris can you fix it for me...', target='_blank') Report a bug
						li.divider
						li
							| <a href="#" {{action logout}}>Log Out</a>
				| {{/unless}}

.container
	.row-fluid
		.span3
			.well.activity
				| {{#unless App.user.content}}
				.nav-header This Week In Summary
				.summary
					.breadcrumb
						| Contacts queued
						span.pull-right.badge.badge-info {{contactsQueued}}
					.breadcrumb
						| Tags created
						span.pull-right.badge.badge-info {{tagsCreated}}
					.breadcrumb
						| Notes authored
						span.pull-right.badge.badge-info {{notesAuthored}}
					| {{#if mostVerboseTag}}
					.breadcrumb
						| Most verbose tag
						.own-line "{{mostVerboseTag}}"
					| {{/if}}
					.breadcrumb
						| Most alarming email subject
						.own-line
							em "Re: Do you remember eating this??"
					.breadcrumb
						| Most active user
						.own-line
							strong {{mostActiveUser}}
				| {{else}}
				.nav-header Activity Feed
				.feed
					| {{#each feed}}
					| {{#view view.feedItemView}}
					| {{#if typeInitialContact}}
					+linkTo('contact this')
						h4 {{canonicalName}}
					p
						| Added by 
						+linkTo('profile addedBy')
							| {{addedBy.canonicalName}}
						|  on {{added}}
					| {{view App.TaggerView contactBinding="this"}}
					| {{/if}}
					| {{#if typeContact}}
					+linkTo('contact this')
						h4 {{canonicalName}}
					p
						| Was just added by 
						+linkTo('profile addedBy')
							| {{addedBy.canonicalName}}
						| !
					| {{view App.TaggerView contactBinding="this"}}
					| {{/if}}
					| {{#if typeLinkedin}}
					+linkTo('profile updater')
						| {{updater.canonicalName}}
					|  augmented 
					+linkTo('contact this')
						| {{canonicalName}}
					| with Linked
					i.icon-linkedin-sign
					|  data.
					| {{/if}}
					| {{#if typeTag}}
					+linkTo('profile creator')
						| {{creator.canonicalName}}
					|  added the tag 
					em "{{body}}"
					|  to 
					+linkTo('contact contact')
						| {{contact.canonicalName}}
					| .
					| {{/if}}
					| {{#if typeNote}}
					+linkTo('profile author')
						| {{author.canonicalName}}
					|  wrote a note about 
					+linkTo('contact contact')
						| {{contact.canonicalName}}
					| : "{{preview}}"
					| {{/if}}
					| {{/view}}
					| {{/each}}
				| {{/unless}}
		.span9
			| {{outlet}}


	hr.footer-line
	footer
		p © Redstar 2012
