// TODO do connection alert if possible, remove .connection styles if not
// <ui:connectionAlert>

.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			+linkTo('recent class="brand"')
				| Redfly
				img(src='/images/redfly_logo.png', width='30px', class='logo-up') 
			| {{#if App.user}}
			.nav-collapse.collapse
				ul.nav
					| {{view view.spotlightSearchView info="true" viewName="spotlightSearchViewInstance"}}
					li
						+linkTo('requests') Recommend
					| {{#if App.admin.requestCount}}
					li
						span.badge.badge-important {{App.admin.requestCount}}
					| {{/if}}				
					li
						+linkTo('classify') Classify
					| {{#if App.admin.classifyCount}}
					li
						span.badge.badge-important {{App.admin.classifyCount}}
					| {{/if}}
					li
						+linkTo('companies') Companies
					li
						+linkTo('leaderboard') Leaderboard
			| {{/if}}
			.pull-right
				| {{#unless App.user}}
				| {{#if App.admin.contextio}}
				| {{#if App.admin.googleauth}}
				.btn-group
					a.btn(action='noPassword target="view"')
						i.icon-user
						|  Log In
					a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='/authorize') GMail
						li
							a(action='getPassword target="view"') Password
				| {{else}}
				a.btn(action='getPassword target="view"') Log In
				| {{/if}}
				| {{else}}
				| {{#if App.admin.googleauth}}
				a.btn(href='/authorize') Log In
				| {{/if}}
				| {{/if}}
				| {{else}}
				.btn-group
					+linkTo('userProfile class="btn"')
						i.icon-user
						|  {{App.user.name}}
					a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
						span.caret
					ul.dropdown-menu(role='menu')
						li
							+linkTo('create') Add a Contact					
						li
							+linkTo('enrich') Enrich Contact Data
						li
							+linkTo('userProfile') Profile
						li
							+linkTo('import') Bulk Upload
						li.divider
						li
							a(href='/linker')
								| Sync Linked
								i.icon-linkedin-sign.icon-large
						li.divider
						li
							a(href='mailto:justin@da.r-w.in?subject=can you fix it for me...', target='_blank') Report a bug
						li.divider
						{{#if App.user.admin}}
						li
							+linkTo('admin') Configure
						li
							+linkTo('dashboard') Dashboard
						{{/if}}
						{{#unless App.admin.extensionOn}}
						li
							a#installationlink(href='#') Install Plugin
						{{/unless}}
						li
							| <a href="#" {{action logout}}>Log Out</a>
				| {{/unless}}
				+view('view.loginView')
					+view('view.editView')
						div(bindAttr='class="view.parentView.parentView.showLogin::hide"')
							.popover
								.nav-header Email credentials
								div(bindAttr='class=":control-group"')
									+view('view.field viewName="email" class="email" placeholder="email"')
								div(bindAttr='class=":control-group"')
									+view('view.field type="password" viewName="password" class="password" placeholder="password"').pull-right
								+if('view.parentView.parentView.advanced')
									.nav-header IMAP settings
									div(bindAttr='class=":control-group"')
										+view('view.field viewName="user" class="user"')
									div(bindAttr='class=":control-group"')
										+view('view.field viewName="server" class="server"')
									div(bindAttr='class=":control-group"')
										span Port
										+view('view.field viewName="port" class="port"')
										span SSL
										+view('view.check viewName="secure" class="secure"')
								+unless('view.working')
									a.advanced(href="#", action='advance target="view"')
										+unless('view.parentView.parentView.advanced')
											span advanced &nbsp;
											i.icon-caret-down
										+if('view.parentView.parentView.advanced')
											span hide &nbsp;
											i.icon-caret-up
									button(href='#', action='login target="view"')
										| Login 
										i.icon-ok
									+else
										i.icon-spinner.icon-spin

.container
	{{outlet panel}}

	hr
	footer
		p ©{{App.orgTitle}} 2013
