
.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header.col-md-12
			{{#link-to "recent" class="navbar-brand"}}
			| Redfly
			img(src='/images/redfly_logo.png', width='30px', class='logo-up') 
			{{/link-to}}
			| {{#if App.user}}
			ul.nav.navbar-nav
				| {{view view.spotlightSearchView info="true" viewName="spotlightSearchViewInstance"}}
				li
					{{link-to "Recommend" "requests"}}
				| {{#if App.admin.requestCount}}
				li
					span.badge.badge-important {{App.admin.requestCount}}
				| {{/if}}				
				li
					{{link-to "Classify" "classify"}}
				| {{#if App.admin.classifyCount}}
				li
					span.badge.badge-important {{App.admin.classifyCount}}
				| {{/if}}
				li
					{{link-to "Companies" "companies"}}
				li
					{{link-to "Leaderboard" "leaderboard"}}
			| {{/if}}
			.pull-right
				| {{#unless App.user}}
				| {{#if App.admin.contextio}}
				| {{#if App.admin.googleauth}}
				.btn-group
					a.btn.btn-default(action='noPassword target="view"')
						i.fa.fa-user
						|  Log In
					a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', href='#')
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='/authorize') GMail
						li
							a(action='getPassword target="view"') Password
				| {{else}}
				a.btn.btn-default(action='getPassword target="view"') Log In
				| {{/if}}
				| {{else}}
				| {{#if App.admin.googleauth}}
				a.btn.btn-default(href='/authorize') Log In
				| {{/if}}
				| {{/if}}
				| {{else}}
				.btn-group
					+linkTo('userProfile class="btn btn-default"')
						i.fa.fa-user
						|  {{App.user.name}}
					a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', href='#')
						span.caret
					ul.dropdown-menu(role='menu')
						li
							{{link-to "Add a Contact" "create"}}
						li
							{{link-to "Enrich Contact Data" "enrich"}}
						li
							{{link-to "Profile" "userProfile"}}
						li
							{{link-to "Bulk Upload" "import"}}
						li.divider
						li
							a(href='/linker')
								| Sync Linked
								i.fa.fa-linkedin-square
						li.divider
						li
							a(href='mailto:justin@da.r-w.in?subject=can you fix it for me...', target='_blank') Report a bug
						li.divider
						{{#if App.user.admin}}
						li
							{{link-to "Configure" "admin"}}
						li
							{{link-to "Dashboard" "dashboard"}}
						{{/if}}
						{{#unless App.admin.extensionOn}}
						li
							{{link-to "Install Plugin" "plugin"}}
						{{/unless}}
						li
							| <a href="#" {{action logout}}>Log Out</a>
				| {{/unless}}
				+view('view.loginView')
					+view('view.editView')
						div(bindAttr='class="view.parentView.parentView.showLogin::hide"')
							.popover
								.nav-header Email credentials
								div(bindAttr='class=":control-group"')
									+view('view.field viewName="email" class="email" placeholder="email"')
								div(bindAttr='class=":control-group"')
									+view('view.field type="password" viewName="password" class="password" placeholder="password"').pull-right
								+if('view.parentView.parentView.advanced')
									.nav-header IMAP settings
									div(bindAttr='class=":control-group"')
										+view('view.field viewName="user" class="user"')
									div(bindAttr='class=":control-group"')
										+view('view.field viewName="server" class="server"')
									div(bindAttr='class=":control-group"')
										span Port
										+view('view.field viewName="port" class="port"')
										span SSL
										+view('view.check viewName="secure" class="secure"')
								+unless('view.working')
									a.advanced(href="#", action='advance target="view"')
										+unless('view.parentView.parentView.advanced')
											span advanced &nbsp;
											i.fa.fa-caret-down
										+if('view.parentView.parentView.advanced')
											span hide &nbsp;
											i.fa.fa-caret-up
									button(href='#', action='login target="view"')
										| Login 
										i.fa.fa-ok
									+else
										i.fa.fa-spinner.fa-spin

.container
	{{outlet panel}}
	hr
	footer
		p ©{{App.orgTitle}} 2014

