| {{#unless complete}}
div.navbar
	.navbar-inner

		| {{#unless flushing}}
		| {{#if total}}
		.lead There are {{total}} contacts in your queue.
		| {{else}}
		p.pager
			i.icon-spinner.icon-spin.icon-large
		| {{/if}}
		| {{/unless}}

		.pull-right

			| {{#if flushing}}

			p
				span Selected contacts will be skipped for now, and appear back in your queue in a couple of weeks
			ul.pager
				li
					| <a href="#" class="btn-danger" {{action flushem}}>Remove Selected from Queue</a>
				|  
				li
					| <a href="#" class="btn-info" {{action unflush}}>Back to Classify</a>
			.row-fluid
				table.table.table-hover
					thead
						tr
							th Name
							th Email
							th Message Sent
							th Message Subject
					tbody
						+each('flushlist')
							tr
								td {{view Ember.Checkbox checkedBinding="checked"}} &nbsp; {{canonicalName}}
								td {{email}}
								td {{firstHistory.sent}}
								td {{firstHistory.subject}}

			| {{else}}

			| {{#if thisContact}}
			| {{#if thisContact.added}}
			span.already-added Already added by {{thisContact.addedBy.canonicalName}}.
			| {{/if}}
			ul.pager
				li
					| <a href="#" class="btn-success" {{action continue}}>{{continueText}}</a>
				| 
				li
					| <a href="#" class="btn-warning" {{action skip}}>Classify Later</a>
				| 
				li
					| <a href="#" class="btn-danger" {{action ignore}}>Private/Discard</a>
				| 
				li
					| <a href="#" class="btn-inverse" {{action flush}}>Bulk</a>
				p
			| {{render contact}}
			| {{/if}}

		| {{/if}}

| {{else}}

.hero-unit
	h1 Nicely done!
	p Thanks for classifying all these dudes and dudettes! Your contribution to Redfly is appreciated, your deeds of valor will be remembered for all eternity.
	p
		+linkTo('recent class="btn btn-primary btn-large"') See latest contacts
	p.star: i.icon-star

| {{/unless}}

