| {{#unless complete}}

div.navbar
	.navbar-inner
		.lead There are {{total}} contacts in your queue.
		.pull-right
			| {{#if model.added}}
			span.already-added Already added by {{model.addedBy.canonicalName}}.
			| {{/if}}
			ul.pager
				li
					| <a href="#" class="btn-danger" {{action ignore}}>Skip forever</a>
				|  
				li
					| <a href="#" class="btn-warning" {{action skip}}>Skip</a>
				|  
				li
					| <a href="#" class="btn-success" {{action continue}}>{{continueText}}</a>

| {{render contact}}

| {{else}}

.hero-unit
	h1 Nicely done!
	p Thanks for classifying all these dudes and dudettes! Your contribution to Redfly is appreciated, your deeds of valor will be remembered for all eternity, etc etc.
	| {{#unless noMore}}
	p
		| But hey, listen: there are some more contacts we could give you to classify. You know, if you 
		em really
		|  wanted to...
	| {{/unless}}
	p
		| {{#if noMore}}
		+linkTo('contacts class="btn btn-primary btn-large"') See all contacts
		|  {{else}}
		| <a class="btn btn-primary btn-large" {{action keepGoing}}>Hit me again!</a>
		| &nbsp;
		+linkTo('contacts class="btn btn-large"') See all contacts
		| {{/if}}
		p.star: i.icon-star

| {{/unless}}
