.row
	h1 Recent companies

	+unless ('companies')
		.myloading
			i.fa.fa-spinner.fa-spin
	+if ('companies')
		| {{#each companies}}
		.row
			.col-md-6.bodies
				| <a class="body" href="#" {{action search company target="view"}}>{{company}}</a>
			.col-md-1
				span.badge.badge-info {{count}}
		| {{/each}}

