.row-fluid
	h1 All Contacts
	table.table.table-hover
		thead
			tr
				th Names
				th Emails
				th Position
				th Company
				th Added On
				th Added By
		tbody
			| {{#each controller.paginatedItems}}
			| <tr {{action goContact this href=true}}>
			td {{canonicalName}}
			td {{email}}
			td {{position}}
			td {{company}}
			td {{format added}}
			td {{addedBy.canonicalName}}
			| </tr>
			| {{/each}}

	ul.pager
		| {{#if hasPrevious}}
		li.previous
			| <a href="#" {{action previousPage target="controller"}}>&larr; Newer</a>
		| {{/if}}
		| {{#if hasNext}}
		li.next
			| <a href="#" {{action nextPage target="controller"}}>Older &rarr;</a>
		| {{/if}}

	//-
		.pagination.pagination-centered
			ul
				li: a «
				li: a 1
				li: a 2
				li: a »
