{{partial "contact"}}
| {{#view view.mergeView viewName="mergeViewInstance"}}
.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='mergeModalLabel', aria-hidden='true')
	.modal-header
		button.close(type='button', data-dismiss='modal')
		h3#mergeModalLabel Merge with {{canonicalName}}
	.modal-body
		.muted Search your contacts by name or email.
		.row-fluid
			| {{view view.mergeSearchView}}
		| {{#if view.selections.length}}
		.row-fluid
			ul.selections
				| {{#each view.selections}}
				li
					| {{canonicalName}} &mdash; {{email}}
				| {{/each}}
		.alert.alert-block.alert-error
			h4.alert-heading Merging is irreversible!
			p Make absolutely sure you selected the right contacts.
			p
				button.btn(data-dismiss='modal') Cancel
				|  <a href="#" class="btn btn-danger" {{action merge target="view"}}>I understand, let's do this</a>
		| {{/if}}
| {{/view}}
