{{#if App.user.admin}}
.row
	.col-md-9
		h1 Redfly Dashboard
		hr

		{{#if dash}}
		h2 Weekly Stats
		ul
			li Number of introduction clicks:
				span.count {{dash.intros}}
			li Number of tags added:
				span.count {{dash.tags}}
			li Number of unclassified contacts:
				span.count {{dash.classify}}
			li Number of active users:
				span.count {{dash.active}}
			li Number of searches:
				span.count {{dash.searches}}
			li Number of requests:
				span.count {{dash.requests}}
			li Number of responses:
				span.count {{dash.responses}}

		h3 Organisations Contacted Past Week
		ul
			| {{#each dash.org}}
			li
				| <a class="nodeco body" href="#" {{action search company target="view"}}>{{company}}</a>
			| {{/each}}
		{{else}}
		.myloading
			+unless ('empty')
				i.fa.fa-spinner.fa-spin
		{{/if}}
{{/if}}
