.row-fluid.title
	h1
		span.red Red
		| fly
	h2 Institutional Memory for {{App.orgTitle}}
	br
	.version v0.4
.row-fluid
	p.lead Redfly provides collaborative people tracking for teams.
	p.lead By connecting to your email it can find people that you communicate with and help you intelligently tag them.
	p.lead Every week you will receive an update containing new correspondants so you can review the collected info and add your own notes.
	p.lead
		| You'll be able to view the curated contacts of other team members and they'll be able to view yours. 
		strong Remember, with great power comes great something something.
//- .row-fluid.signup
//- 	| {{#unless App.user.content}}
//- 	a.btn.btn-primary.btn-large(href='/authorize') Sign up through email
//- 	| {{/unless}}
