.row-fluid
	.span12
		#carousel-front-page.carousel.slide
			.carousel-inner
				.item.active.section
					.row
						.span6
							h3 What is Redfly?
							ul
								li Build your institutional memory.
								li Redfly helps you and your colleagues to organize your organization's external network of contacts.
								li By sharing contacts that are important to your organization, you can help increase your organization's social capital.
						.span6
							img.img-responsive(src="/images/collabnet.png")

				.item.section-colored
					.row
						.span6
							h3 Get E-mail Updates of New Contacts
							ul
								li Redfly sends you weekly e-mails of new contacts that people in your organization has networked with.
						.span6
							img.img-responsive(src="/images/emailupdates.png")

				.item.section
					.row
						.span6
							img.img-responsive(src="/images/syncgmail.png")
						.span6
							h3 Login with Gmail, Sync with LinkedIn
							ul
								li Imports your outgoing e-mails to external contacts
								li Augments your contacts with LinkedIn information
			a.left.carousel-control(href="#carousel-front-page", data-slide="prev")
				i.icon-chevron-left
			a.right.carousel-control(href="#carousel-front-page", data-slide="next")
				i.icon-chevron-right
			ol.carousel-indicators
				li.active(data-target="#carousel-front-page", data-slide-to="0")
				li(data-target="#carousel-front-page", data-slide-to="1")
				li(data-target="#carousel-front-page", data-slide-to="2")



		.span12
			.row
				br
			.row
				.span4
					h4
						i.icon-tags
						span &nbsp; Tag to Classify
					p You can tag people with custom tags.  Your admin can setup a tag dictionary and tag groups to bucket tags.
				.span4
					h4
						i.icon-search
						span &nbsp; Search Contacts
					p When you need to find someone with particular expertise or background, search for them and request for introduction through Redfly.
				.span4
					h4
						i.icon-exchange
						span &nbsp; Request and Recommend
					p If you are looking for specific contacts, request it through Redfly and your colleagues can recommend you new contacts.
			.row
				br
			.row.well
				.span8
					h4 Get started by logging in with your organization's Gmail.
				.span4
					a.btn.btn-lg.btn-primary.pull-right(href='/authorize') Login with Gmail

