.row
	h1 Bulk Upload

	ul
		li The importer will make the best sense of your file that it can.
		li Data in columns that do not correspond to any contact field will be added as generic notes.

	p
		| You will be able to review the contacts we find before they are added. 
		strong If they don't look right, check your file! 
		| Chris won't fix it for you if you import a bunch of nonsensical data.

	br
	br

	+if('error')
		.alert.alert-error {{error}}


	+view('view.startView')
		.col-md-9.offset3
			form.well(enctype='multipart/form-data')
				span.help-block Select a .csv file to upload
				br
				| {{view view.fileInputView class="col-md-9"}}
				br

	+view('view.parsingView')
		.col-md-1.offset6
			i.fa.fa-spinner.fa-spin.fa-4x

	+view('view.parsedView')
		table.table
			thead
				tr
					| {{#each processed.fields}}
					th {{this}}
					| {{/each}}
					th Status
			tbody
				| {{#each result in processed.results}}
				| <tr {{bindAttr class="result.status.new:success result.status.blacklisted:info result.status.error:error"}}>
				| {{#each field in result.fields}}
				td
					| {{#each item in field}}
					span {{item}}
					br
					| {{/each}}
				| {{/each}}

				td
					| {{#if result.status.new}}
					| 	OK
					| {{/if}}
					| {{#if result.status.blacklisted}}
					| 	That&apos;s a {{App.orgTitle}} person and will be ignored.
					| {{/if}}
					| {{#if result.status.error}}
					|	{{result.status.error}}
					br
					br
					|	Entry will be ignored.
					| {{/if}}

				| </tr>
				| {{/each}}
		.form-actions
			button.btn.btn-danger.pull-right(type='button', action='import target="view"') Import
			button.btn.btn-warning.pull-right(type='button', action='reset target="view"') Reset 
