.row
	.partheading
		h1 Monthly Leaders
	.partheading
		h3
			i {{view.formattedfromdate}} ~ {{view.formattedtodate}}
	table.table.table-hover
		thead
			tr
				th Rank
				th Change
				th Contributor
				th
					span New
					br
					span Data Points
				th
					span New
					br
					span Contacts
				th
					span Total
					br
					span Contacts
		tbody
			| {{#each leader itemViewClass="App.LeaderView"}}
			td {{view.pos}}
			td
				{{#if view.up}}
				i.fa.fa-caret-up.fa-2x.green
				{{else}}
				{{#if view.down}}
				i.fa.fa-caret-down.fa-2x.red
				{{/if}}
				{{/if}}
				span {{view.changeText}}
			td
				{{#link-to "profile" this}}
				<img class="img-rounded" {{bind-attr src="canonicalPicture"}}>
				span {{canonicalName}}
				{{/link-to}}
			td {{contactCount}}
			td {{dataCount}}
			td
				span {{fullCount}}
				{{#unless view.idsme}}
				{{#if unclassifiedCount}}
				span &nbsp; [
				span {{unclassifiedCount}}
				span ]
				{{/if}}
				{{/unless}}
				{{#if view.idsme}}
				{{#if view.parentView.controller.datapoor}}
				span &nbsp; [
				{{#link-to "enrich"}}
				| {{view.parentView.controller.datapoor}}
				{{/link-to}}
				span ]
				{{/if}}
				{{/if}}
			| {{/each}}

	h1 Weekly Laggards
	table.table.table-hover
		thead
			tr
				th Rank
				th Change
				th Contributor
				th
					span New
					br
					span Data Points
				th
					span New
					br
					span Contacts
				th
					span Total
					br
					span Contacts
		tbody
			| {{#each laggard itemViewClass="App.LaggardView"}}
			td {{view.pos}}
			td
				{{#if view.up}}
				i.fa.fa-caret-up.fa-2x.green
				{{else}}
				{{#if view.down}}
				i.fa.fa-caret-down.fa-2x.red
				{{/if}}
				{{/if}}
				span {{view.changeText}}
			td
				{{#link-to "profile" this}}
				<img class="img-rounded" {{bind-attr src="canonicalPicture"}}>
				span {{canonicalName}}
				{{/link-to}}
			td {{contactCount}}
			td {{dataCount}}
			td {{fullCount}}
			| {{/each}}
