.row-fluid
	h1 All Users
	table.table.table-hover
		thead
			tr
				th Name
				th Email
				th Signed Up
		tbody
			+each('model')
				+linkTo('profile this tagName="tr"')
					td {{canonicalName}}
					td {{email}}
					td {{date}}
