.row-fluid
	.partheading
		h1 Monthly Leaders
	.partheading
		h3
			i {{view.formattedfromdate}} ~ {{view.formattedtodate}}
	table.table.table-hover
		thead
			tr
				th Rank
				th Change
				th Contributor
				th
					span New
					br
					span Data Points
				th
					span New
					br
					span Contacts
				th
					span Total
					br
					span Contacts
		tbody
			| {{#each leader itemViewClass="App.LeaderView"}}
			td {{view.pos}}
			td
				{{#if view.up}}
				i.icon-caret-up.icon-2x.green
				{{else}}
				{{#if view.down}}
				i.icon-caret-down.icon-2x.red
				{{/if}}
				{{/if}}
				span {{view.changeText}}
			td
				+linkTo('profile this')
					| <img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
					span {{canonicalName}}
			td {{contactCount}}
			td {{dataCount}}
			td {{fullCount}} {{#if unclassifiedCount}}&nbsp;[{{unclassifiedCount}}]{{/if}}
			| {{/each}}

	h1 Weekly Laggards
	table.table.table-hover
		thead
			tr
				th Rank
				th Change
				th Contributor
				th
					span New
					br
					span Data Points
				th
					span New
					br
					span Contacts
				th
					span Total
					br
					span Contacts
		tbody
			| {{#each laggard itemViewClass="App.LaggardView"}}
			td {{view.pos}}
			td
				{{#if view.up}}
				i.icon-caret-up.icon-2x.green
				{{else}}
				{{#if view.down}}
				i.icon-caret-down.icon-2x.red
				{{/if}}
				{{/if}}
				span {{view.changeText}}
			td
				+linkTo('profile this')
					| <img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
					span {{canonicalName}}
			td {{contactCount}}
			td {{dataCount}}
			td {{fullCount}}
			| {{/each}}
