.row
	.col-md-12
		.row
			.col-md-1
			.col-md-11
				h4 Install the Redfly plugin to smoothly integrate with your LinkedIn connections
	.col-md-12
		.row.well
			.col-md-1
			.col-md-4
				h4
					i.fa.fa-hand-o-right
					span &nbsp; Install the plugin
				p Use the link below to install the Redfly plugin, and click through the install message. It's a two step process that requires confirmation of permissions.
				img.img-responsive(src="/images/pluginconfirm.jpg")
			.col-md-1
			.col-md-5
				h4
					i.fa.fa-hand-o-left
					span &nbsp; Speed up Redfly's efforts to learn more about your contacts
				p After a successful installation, you'll be able to use connections on the page in LinkedIn to fulfill actions in Redfly, such as classifying, and responding to requests from colleagues.
				img.img-responsive(src="/images/plugininstalled.jpg")
		.row
			br

.row-fluid
	.col-md-12
		#carousel-plugin.carousel.slide
			.carousel-inner
				.item.active.section
					.row
						.col-md-2
						.col-md-5
							h4 Save LinkedIn connections to Redfly
							ul
								li.subheading With both sites open, you can quickly import your LinkedIn connections as Redfly contacts
								li.subheading The plugin will also create new Redfly contacts from any public pages of other LinkedIn users 
						.col-md-4
							img.img-responsive(src="/images/pluginsave.jpg")

				.item.section-colored
					.row
						.col-md-2
						.col-md-5
							h4 Use data from LinkedIn when classifying your contacts in Redfly
							ul
								li.subheading Redfly works best when users add meaningful data about contacts
								li.subheading LinkedIn skills and industries can be imported as tags to the Redfly classify page
						.col-md-4
							img.img-responsive(src="/images/pluginclassify.jpg")

				.item.section
					.row
						.col-md-2
						.col-md-5
							h4 Respond to Redfly requests with LinkedIn connections
							ul
								li.subheading For when a colleague is looking for a particular kind of contact
								li.subheading If the best answer isn't on Redfly yet, you can respond with a LinkedIn link
						.col-md-4
							img.img-responsive(src="/images/pluginrespond.jpg")
			a.left.carousel-control(href="#carousel-plugin", data-slide="prev")
				i.fa.fa-chevron-left
			a.right.carousel-control(href="#carousel-plugin", data-slide="next")
				i.fa.fa-chevron-right
			ol.carousel-indicators
				li.active(data-target="#carousel-plugin", data-slide-to="0")
				li(data-target="#carousel-plugin", data-slide-to="1")
				li(data-target="#carousel-plugin", data-slide-to="2")

.row-fluid
	.col-md-1
	.col-md-10
		.row
			br
		.row.well
			.col-md-1
			.col-md-10
				h4
					span Get started by installing the chrome plugin:&nbsp;
					a#installationlink(href='#') Install Plugin

