.row-fluid
	.span9
		h1 {{name}}
		p Signed up on {{date}}
		br
		.row-fluid
			.span7
				p Added {{contacts.length}} contacts so far.
				ul
					| {{#each contacts.paginatedItems}}
					li
						+linkTo('contact this')
							| {{canonicalName}}
					| {{/each}}
			| {{#if hasQ}}
			.span2
				ul.pager
					li
						+linkTo('classify class="btn-success"') Classify
			| {{/if}}
		.row-fluid
			.span4
				ul.pager
					| {{#if contacts.hasPrevious}}
					li.previous
						| <a href="#" {{action previousPage target="contacts"}}>&larr; Newer</a>
					| {{/if}}
					| {{#if contacts.hasNext}}
					li.next
						| <a href="#" {{action nextPage target="contacts"}}>Older &rarr;</a>
					| {{/if}}
	.span3.picture
		| <img class="img-polaroid img-rounded" {{bindAttr src="canonicalPicture"}}>
		| {{#if self}}
		| {{view App.EditPictureView pictureBinding="picture"}}
		| {{/if}}
