.row-fluid
	form(action='add on="submit" target="controller"')
		.span9
			| {{view view.newReqView valueBinding="controller.newreq"}}
		.span3
			| {{#if urgent}}
			button.btn-danger.span11(type='button', tabindex="2", action='toggleUrgency target="view"') Urgent
			| {{else}}
			button.btn.span11(type='button', tabindex="2", action='toggleUrgency target="view"')
				i Flag Urgent &nbsp;
				i.icon-flag
			| {{/if}}
			br
			{{view view.newDateView elementId="datepicker"}}
			br
			button.btn.span11(type="submit", tabindex="4", bindAttr='disabled="disableAdd"') Submit
			br
.row-fluid
	h4 Pending Requests
	hr
| {{#each reqs itemViewClass="App.RequestView" itemController="request"}}
.row-fluid.request
	.span7(action='toggle target="view"')
		div.badgecount
			| {{#if count}}
			span.badge.badge-success {{count}}
			| {{else}}
			span.badge.badge-important {{count}}
			| {{/if}}
		{{text}}
	.span5
		.row-fluid
			.span4.request
				+linkTo('profile user class="label knows span12"') {{user.canonicalName}}
			.span4.request
				| <a {{bindAttr class=":label :span12 disabled"}} href="#" {{action suggest}}>Suggest</a>
			.span4.request
				| <a class="label span12" href="#" {{action note target="view"}}>Message</a>
		.row-fluid
			| {{#if urgent}}
			span.urgent.label.span4 Urgent
			span &nbsp; &nbsp;
			| {{/if}}
			| {{#if expires}}
			i.expiry Expires {{expires}}
			| {{/if}}

| {{#if view.addingnote}}
.row-fluid
	br
	form(action='addNewNote on="submit" target="view"')
		.span10
			| {{view view.newNoteView valueBinding="controller.newnote"}}
		.span2
			button.btn.span11(type="submit", bindAttr='disabled="disableAddNote"') Save
			br
			br
			button.btn.span11(type="cancel", action='closenote target="view"') Cancel
| {{/if}}

| {{#if view.expanded}}
.row-fluid.expandedcontent
	| {{#each notes itemViewClass="App.ReqnoteView" itemController="reqnote"}}
	.span1
		| <img class=".span11 img-rounded" {{bindAttr src="user.canonicalPicture"}}>
	.span11
		strong {{user.canonicalName}}: &nbsp;
		span {{body}}
	| {{/each}}
	| {{#each suggestions itemViewClass="App.ResponseView" itemController="response"}}
	| {{/each}}
| {{/if}}

hr
| {{/each}}

.row-fluid
	.span7
		ul.pager
			li.previous
				| {{#if hasPrev}}<a href="#" {{action prevPage}}>&larr; Prev</a>{{/if}}
			div.pagenums
			| {{plusOne rangeStart}}-{{rangeStop}}
			li.next
				| {{#if hasNext}}<a href="#" {{action nextPage}}>Next &rarr;</a>{{/if}}

