.row-fluid
	form(action='add on="submit" target="controller"')
		.span9.indent9
			| {{view view.newReqView valueBinding="controller.newreq"}}
		.span3
			br
			| {{#if urgent}}
			button.btn-danger.span11(type='button', tabindex="2", action='toggleUrgency target="view"') Urgent
			| {{else}}
			button.btn.span11(type='button', tabindex="2", action='toggleUrgency target="view"')
				i Flag Urgent &nbsp;
				i.text-error.icon-flag
			| {{/if}}
			br
			br
			button.btn.span11(type="submit", tabindex="4", bindAttr='disabled="disableAdd"') Submit
			br
.row-fluid
	h4 Pending Requests
	hr
.flipcardparent
	| {{#each reqs itemViewClass="App.RequestView" itemController="request"}}
	| {{#unless expiry}}
	.row-fluid.request
		.row-fluid
			.span10(action='toggle target="view"')
				{{view view.reqUserView}}
				{{text}}
			.span2
				.row-fluid
					.span9
						| {{#if controller.disabled}}
						| <a {{bindAttr class=":reqend :label :span12"}} href="#" {{action expire target="view"}}>End </a>
						| {{else}}
						| {{#unless view.suggesting}}
						| <a {{bindAttr class=":reqact :label :span12"}} href="#" {{action suggest target="view"}}>Suggest</a>
						| {{else}}
						| <a {{bindAttr class=":reqend :label :span12"}} href="#" {{action cancel target="view"}}>Cancel </a>
						| {{/unless}}
						| {{/if}}
					.span3
						| {{#if urgent}}
						span
							| &nbsp;&nbsp;
							i.text-error.icon-flag
						| {{/if}}

			| {{#if view.suggesting}}
			br
			form(action='addResponse on="submit" target="view"')
				.row-fluid
					.span4
						.span1
						.btn-group.span11
							| {{view Ember.Select class="span10" contentBinding="view.selectOptions" valueBinding="view.selectedOption"}}
					.span8
						.span10.shiftleft10
							| {{#if view.selectedSearchContacts}}
							| {{view view.responseSearchView}}
							| {{else}}
							| {{#if view.selectedSuggestLink}}
							| {{view view.leaveLinkView valueBinding="view.newnote"}}
							| {{else}}
							| {{view view.newNoteView valueBinding="view.newnote"}}
							| {{/if}}
							| {{/if}}
						.span3
							button.btn.span8(type="submit", bindAttr='disabled="view.saveSuggestions"') Done
			| {{/if}}

		| {{#if view.selections.length}}
		.row-fluid
			.span1
			.span10
				| {{#each view.selections}}
				{{#link-to "contact" this}}
				.span6
					.span3.imgpad
						| <img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
					.span9
						span {{canonicalName}}
						br
						span {{position}}
						br
						span {{company}}
				{{/link-to}}
				| {{/each}}
			.span1
		| {{/if}}


		| {{#if view.expanded}}
		.row-fluid.expandedcontent
			| {{#each response itemViewClass="App.ResponseView" itemController="response"}}
			{{partial "response"}}
			| {{/each}}
		| {{/if}}


	hr
	| {{/unless}}
	| {{/each}}

	.row-fluid
		.span7
		{{#if rangeStop}}
		ul.pager
			li.previous
				| {{#if hasPrev}}<a href="#" {{action prevPage}}>&larr; Prev</a>{{/if}}
			div.pagenums
			| {{plusOne rangeStart}}-{{rangeStop}}
			li.next
				| {{#if hasNext}}<a href="#" {{action nextPage}}>Next &rarr;</a>{{/if}}
		{{else}}
		span No requests.
		{{/if}}

