.row-fluid
	+unless ('hasResults')
		.myloading
			i.icon-spinner.icon-spin
	+if ('hasResults')
		{{partial "sorting"}}
		+if ('theResults')
			{{partial "results"}}
		+if ('links')
			{{partial "linkedinresults"}}
		+if ('comments')
			{{partial "commentresults"}}
		+unless ('links')
			+unless ('comments')
				+unless ('theResults')
					.myloading
						i.icon-spinner.icon-spin
