.row-fluid
	{{partial "sorting"}}
	+unless ('theResults')
		.myloading
			+unless ('empty')
				i.icon-spinner.icon-spin
			+if ('empty')
				span.empty	No results match filter
	+if ('theResults')
		{{partial "paging"}}
		{{partial "results"}}
		{{partial "paging"}}
