.row-fluid.top
	.span2.picture
		| <a {{action goContact controller target="App.router" href=true}}>
		| <img class="img-rounded" {{bindAttr src="canonicalPicture"}}>
		| </a>
	.span7
		.row-fluid
			.span8
				| <a {{action goContact controller target="App.router" href=true}}>
				h3 {{canonicalName}}
				| </a>
				| {{position}}{{#if position}},{{/if}}} {{company}} {{#if yearsExperience}} with {{yearsExperience}} years experience. {{/if}}
			.span4
				span.mailORintro
					| {{#unless view.isKnown}}
					| <a {{bindAttr href="view.introMailto"}} target="_blank">{{view view.introView class="icon-bullhorn"}}</a>
					| {{/unless}}
					| {{#if view.isKnown}}
					| <a {{bindAttr href="view.directMailto"}} target="_blank">
					i.icon-envelope.icon-large
					| </a>
					| {{/if}}
				+view('view.socialView')
					a(href='#', bindAttr='class=":social linkedin::muted"', action='openLinkedin target="view"')
						i.icon-linkedin-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social twitter::muted"', action='openTwitter target="view"')
						i.icon-twitter-sign.icon-large
						|  
					a(href='#', bindAttr='class=":social facebook::muted"', action='openFacebook target="view"')
						i.icon-facebook-sign.icon-large
						|  
				div
					+if('linkedin')
						br
						a(bindAttr='href="view.linkedinMail"', target='_blank') Send a Linkedin inMail
		.row-fluid
	.span3
