.row-fluid

	ul.pager.toppager
		li.previous
			| {{#if theResults.hasPrevious}}<a href="#" {{action previousPage target="theResults"}}>&larr; Prev</a>{{/if}}
		div.pagenums
			| {{#if theResults.total}}{{plusOne theResults.rangeStart}}-{{theResults.rangeStop}}{{/if}}{{#if theResults.hasNext}} / {{theResults.total}}{{/if}}
		li.next
			| {{#if theResults.hasNext}}<a href="#" {{action nextPage target="theResults"}}>Next &rarr;</a>{{/if}}

	+unless ('theResults.paginatedItems')
		.loading
			i.icon-spinner.icon-spin
	| {{#each theResults.paginatedItems itemViewClass="App.ResultView" itemController="result"}}
	.row-fluid.top
		| {{#if showitall}}
		hr.topexpanded
		{{partial "contact"}}
		hr.botexpanded
		| {{else}}
		.row-fluid
			.span8
				.row-fluid
					.span2.picture
						a(href='#', action='setShowItAll this target="view"')
							| <img class="fullwidth img-rounded" {{bindAttr src="canonicalPicture"}}>
					.span10
						+if('isVip')
							.maybevip
								i.icon-star.icon-2x.fullredstar
						a(href='#', action='setShowItAll this target="view"')
							h3 {{canonicalName}}
						div
							i
								| {{position}}{{#if position}},{{/if}}} {{company}} {{#if yearsExperience}} with {{yearsExperience}} years experience. {{/if}}
						| {{#if lastMail}}
						.row-fluid
							p
								b Last mail:&nbsp;
								span
									+linkTo('profile lastMail.sender') {{lastMail.sender.canonicalName}}
								span
									&nbsp; {{sentdate}}
						| {{/if}}
							
			.span4
				b Knows: &nbsp;
				.search-result.knows
					ul.tags
						| {{#if isKnown}}
						li you
						| {{/if}}
						{{#each knowsSome}}
						li
							+linkTo('profile this')
								| {{canonicalName}}
						{{/each}}

		.row-fluid.clearpic
			| {{#if lastNote}}
			.row-fluid
				.somenote
					b Last note: &nbsp;
					+linkTo('profile lastNote.author') {{lastNote.author.canonicalName}}
					i &nbsp; {{lastNote.body}}
			| {{/if}}
			.row-fluid
				.sometags
					{{#each view.orgTags}}
					a(href="#", bindAttr='class=":label category"', action='clicktag this target="view"')
						span {{body}}
					{{/each}}
					{{#each view.indTags}}
					a(href="#", bindAttr='class=":label category"', action='clicktag this target="view"')
						span {{body}}
					{{/each}}
		| {{/if}}
	{{/each}}

	ul.pager
		li.previous
			| {{#if theResults.hasPrevious}}<a href="#" {{action previousPage target="theResults"}}>&larr; Prev</a>{{/if}}
		div.pagenums
			| {{#if theResults.total}}{{plusOne theResults.rangeStart}}-{{theResults.rangeStop}}{{/if}}{{#if theResults.hasNext}} / {{theResults.total}}{{/if}}
		li.next
			| {{#if theResults.hasNext}}<a href="#" {{action nextPage target="theResults"}}>Next &rarr;</a>{{/if}}

