.row-fluid
	h1 All Tags

	+unless ('tags.paginatedItems')
		.myloading
			i.icon-spinner.icon-spin
	+if ('tags.paginatedItems')
		| {{#each tags.paginatedItems}}
		.row-fluid
			.span6.bodies
				| {{view App.TagView}} 
			.span1
				span.badge.badge-info {{count}}
			.span4
				| Used {{mostRecent}}
		| {{/each}}

		ul.pager
			| {{#if tags.hasPrevious}}
			li.previous
				| <a href="#" {{action previousPage target="tags"}}>&larr; More popular</a>
			| {{/if}}
			| {{#if tags.hasNext}}
			li.next
				| <a href="#" {{action nextPage target="tags"}}>Less popular &rarr;</a>
			| {{/if}}
