.row
	h1 All Tags

	+unless ('tags.paginatedItems')
		.myloading
			i.fa.fa-spinner.fa-spin
	+if ('tags.paginatedItems')
		| {{#each tags.paginatedItems}}
		.row
			.col-md-6.bodies
				| {{view App.TagView}} 
			.col-md-1
				span.badge.badge-info {{count}}
			.col-md-4
				| Used {{mostRecent}}
		| {{/each}}

		ul.pager
			| {{#if tags.hasPrevious}}
			li.previous
				| <a href="#" {{action previousPage target="tags"}}>&larr; More popular</a>
			| {{/if}}
			| {{#if tags.hasNext}}
			li.next
				| <a href="#" {{action nextPage target="tags"}}>Less popular &rarr;</a>
			| {{/if}}
