M2Crypto==0.21.1
ScientificPython==2.9.1
Tkinter==0.0.0
altgraph==0.10.1
bdist-mpkg==0.4.4
certifi==0.0.8
configobj==4.6.0
distribute==0.6.28
dot2tex==2.8.7
gdbm==2.7.3
ipython==0.13
libxml2-python==2.8.0
macholib==1.5
matplotlib==1.2.0
mercurial==2.4
modulegraph==0.10.1
networkx==1.7
nose==1.2.1
numpy==1.6.2
py==1.1.1
py2app==0.7.1
pyOpenSSL==0.13
pygraphviz==1.0
pymongo==2.5
pyobjc-core==2.3
pyobjc-framework-Cocoa==2.3
pyparsing==1.5.6
python-dateutil==1.5
pytz==2012h
scipy==0.11.0
virtualenv==1.8.2
wsgiref==0.1.2
