{{#if view.expanded}}
.span3.expandthis
	.expanded.span10
		| <img class="span12 img-polaroid img-rounded" {{bindAttr src="canonicalPicture"}}>
		.insetalittle
			+linkTo('profile this class="nodeco"') {{canonicalName}}
			br
			span {{email}}
			br
			{{#if fullCount}}
			strong {{fullCount}} contacts added
			{{/if}}
		hr
		i
			{{#if lastRank}}
			span Ranked &#x23;{{lastRank}}&nbsp;
			{{/if}}
			{{#if contactCount}}
			span with {{contactCount}} contacts&nbsp;
			{{#if dataCount}}
			span and&nbsp;
			{{/if}}
			{{else}}
			{{#if dataCount}}
			span with&nbsp;
			{{/if}}
			{{/if}}
			{{#if dataCount}}
			span {{dataCount}} data points&nbsp;
			{{/if}}
			{{#if dataCount}}
			span this month
			{{else}}
			{{#if contactCount}}
			span this month
			{{/if}}
			{{/if}}
{{/if}}
