| <a href="#" {{action toggle target="view"}}>
i.fa.fa-edit.myfa-1p5x
| </a>
| {{#if view.show}}
.popover
	| {{#if view.error}}
	.alert.alert-error {{view.error}}
	| {{/if}}
	| <a href="#" class="close" {{action toggle target="view"}}>×</a>
	.nav-header Picture URL
	| {{view Ember.TextField valueBinding="view.newPicture"}}
	.pull-right
		| {{#unless view.working}}
		| <a href="#" {{action save target="view"}}>
		| Save 
		i.fa.fa-ok
		| </a>
		| {{else}}
		i.fa.fa-spinner.fa-spin
		| {{/unless}}
| {{/if}}
