| <a href="#" {{action toggle target="view"}}>
i.icon-pencil
| </a>
| {{#if view.show}}
.popover
	| {{#if view.nothing}}
	.alert.alert-error Dudebro, you have to enter something dude, bro.
	| {{/if}}
	| {{#if view.duplicate}}
	.alert.alert-info
		| Another contact has the {{view.primaryAttribute}} "{{view.duplicate}}".
		br
		| <a href="#" {{action initiateMerge target="view"}}>Merge duplicate.</a>
	| {{/if}}
	a.close(href='#', action='toggle target="view"')
		i.icon-remove
	.nav-header {{view.prettyPrimaryAttribute}}
	| {{view Ember.TextField insertNewlineBinding="view.save" valueBinding="view.primary"}}
	| {{#if view.others.length}}
	.nav-header {{view.prettyOtherAttribute}}
	| {{#each other in view.others}}
	| {{#view view.itemView otherBinding="other"}}
	| {{view Ember.TextField insertNewlineBinding="view.save" valueBinding="other.content"}}
	.pull-right
		| <a href="#" {{action promote target="view"}}>
		i.icon-arrow-up
		| </a>
		| <a href="#" {{action remove target="view"}}>
		i.icon-trash
		| </a>
	| {{/view}}
	| {{/each}}
	| {{/if}}
	| {{#if view.primary}}
	div
		| <a href="#" {{action add target="view"}}>
		i.icon-plus
		|  Add another
		| </a>
	| {{/if}}
	.pull-right
		| {{#unless view.working}}
		| <a href="#" {{action save target="view"}}>
		| Save 
		i.icon-ok
		| </a>
		| {{else}}
		i.icon-spinner.icon-spin
		| {{/unless}}
| {{/if}}
