.hide
	#loadingStarted
		| {{#if view.stateConnecting}}
		| Makin' pals with gmail...
		i.icon-spinner.icon-spin.pull-right
		| {{/if}}
		| {{#if view.stateParsing}}
		div {{view.current}} of {{view.total}}
		.progress.progress-striped.active
			| <div class="bar" {{bindAttr style="view.percent"}}></div>
		| {{/if}}
		| {{#if view.stateQueueing}}
		div New contacts found: {{view.totalQueued}}
		| {{/if}}
		| {{#if view.stateDone}}
		| All done! <a href="#" {{action classify target="view"}}>Start classifying</a>, dude.
		| {{/if}}

.modal.fade.hide(tabindex='-1', role='dialog')
	.modal-header
		button.close(type='button', data-dismiss='modal') ×
		h3 You're all set!
	.modal-body
		p You've successfully connected your email, when parsing is complete you'll be able to classify the people Redfly finds.
	.modal-footer
		button.btn(data-dismiss='modal') Close
