.hide
	#loadingStarted
		| {{#if view.stateConnecting}}
		| Makin' pals with gmail... 
		i.icon-spinner.icon-spin.pull-right
		| {{/if}}
		| {{#if view.stateStillConnecting}}
		| Taking a moment to connect to your inbox. 
		i.icon-spinner.icon-spin.pull-right
		| {{/if}}
		| {{#if view.stateParsing}}
		div {{view.current}} of {{view.total}}
		.progress1.progress.progress-striped.active
			| <div class="bar" {{bindAttr style="view.percent"}}></div>
			.progress2.progress.active
				| <div class="bar" {{bindAttr style="view.percent2"}}></div>
		| {{/if}}
		| {{#if view.stateQueueing}}
		div New contacts found: {{view.totalQueued}} 
		| {{/if}}
		| {{#if view.stateDone}}
		| All done! <a href="/linker">Sync LinkedIn</a> to enrich your contacts and start classifying!
		| {{/if}}

.modal.fade.hide(tabindex='-1', role='dialog')
	.modal-header
		button.close(type='button', data-dismiss='modal') ×
		h3 You're all set!
	.modal-body
		p You've successfully connected your email, when parsing is complete you'll be able to classify the people Redfly finds.
	.modal-footer
		button.btn(data-dismiss='modal') Close
