div.badgecount
	.expandiconspace
		{{#if response.length}}
		a.expandicon.nodeco(href='#')
			{{#if view.parentView.expanded}}
			i.fa.fa-caret-down.fa-2x
			{{else}}
			i.fa.fa-caret-right.fa-2x
			{{/if}}
		{{/if}}
	{{#if response.length}}
	span.badge.badge-success {{response.length}}
	{{else}}
	span.badge.badge-important {{response.length}}
	{{/if}}
span
	a.hoverme.nodeco(href="#") {{user.canonicalName}}
	strong :&nbsp; &nbsp;

{{#with user}}
{{partial "hoveruser"}}
{{/with}}
