div.badgecount
	{{#if count}}
	span.badge.badge-success {{count}}
	{{else}}
	span.badge.badge-important {{count}}
	{{/if}}
	br
	{{#if count}}
	a.nodeco(href='#')
		{{#if view.parentView.expanded}}
		span &nbsp; &nbsp;
		i.icon-caret-up.icon-large
		{{else}}
		span &nbsp; &nbsp;
		i.icon-caret-right.icon-large
		{{/if}}
	{{/if}}
span
	a.hoverme.nodeco(href="#") {{user.canonicalName}}
	strong :&nbsp; &nbsp;

{{#with user}}
{{partial "hoveruser"}}
{{/with}}
