form.navbar-search.pull-left(autocomplete='off')
	| {{view view.searchBoxView placeholder="Search" viewName="searchBoxViewInstance"}}
	| {{#if view.info}}
	i.icon-question-sign(rel='popover', data-placement='bottom', data-trigger='hover', data-html='true', data-title='Search', data-content='Find contacts by name, email, tag, etc. Search terms may be strings or regular expressions!<br><br>Clicking the body of a tag will automatically begin a search for other contacts with that tag.<br><br>PRO TIP: Restrict searches to only a particular field by prefixing the term with the name of that field (e.g.,  <code>tag:mentor</code>).')
	| {{/if}}
| {{#if view.showResults}}
ul.dropdown-menu.search-results
	| {{#if view.results.names}}
	.nav-header Names
	| {{#each view.results.names}}
	li.no-resultsz
		| <a href="#" {{action select this target="view"}}>{{contact.canonicalName}}</a>
	| {{/each}}
	li.divider
	| {{/if}}
	| {{#if view.results.emails}}
	.nav-header Emails
	| {{#each view.results.emails}}
	li
		| <a href="#" {{action select this target="view"}}>{{contact.canonicalName}} &mdash; {{contact.email}}</a>
	| {{/each}}
	li.divider
	| {{/if}}
	| {{#if view.results.company}}
	.nav-header Company name matches
	| {{#each view.results.company}}
	li
		| <a href="#" {{action select this target="view"}}>{{contact.canonicalName}} &mdash; &lsquo;{{{fragment}}}&rsquo;</a>
	| {{/each}}
	li.divider
	| {{/if}}
	| {{#if view.results.tags}}
	.nav-header Matches in tags
	| {{#each view.results.tags}}
	li
		| <a href="#" {{action select contact target="view"}}>{{contact.canonicalName}} &mdash; &lsquo;{{{fragment}}}&rsquo;</a>
	| {{/each}}
	li.divider
	| {{/if}}
	| {{#if view.results.notes}}
	.nav-header Matches in notes
	| {{#each view.results.notes}}
	li
		| <a href="#" {{action select contact target="view"}}>{{contact.canonicalName}} &mdash; &lsquo;{{{fragment}}}&rsquo;</a>
	| {{/each}}
	| {{/if}}
| {{/if}}
