{{#unless view.dontclick}}
| <a href="#" class="{{view.class}}" {{action sorttoggle title="{{view.sortTitle}}" target="view"}}>
{{/unless}}
span {{view.sortName}}
{{#if view.up}}
i.fa.fa-caret-up.fa-2x
{{else}}
{{#if view.down}}
i.fa.fa-caret-down.fa-2x
{{else}}
i.fa.fa-caret-up.fa-2x
{{/if}}
{{/if}}
{{#unless view.dontclick}}
| </a>
{{/unless}}
