| <a href="#" {{action sortasc target="view"}}>
{{#if view.up}}
i.icon-arrow-up.icon-large
{{else}}
i.icon-arrow-up
{{/if}}
| </a>
| <a href="#" {{action sortdesc target="view"}}>
{{#if view.down}}
i.icon-arrow-down.icon-large
{{else}}
i.icon-arrow-down
{{/if}}
| </a>

