.col-md-6.tagbox
	h4 Visible tags
	i these tags will appear ahead of popular tags in the tag-cloud on the contact page
	p
		br
	.tags
		.main
			+each('view.prioritytags')
				+view('view.tagView')
					span.tagicon
						i.fa.fa-tag  
					span.body {{body}}
					a.close(action='delete target="view"')
						i.fa.fa-remove
	p
		br
	form.new-tag-form(action='add on="submit" target="view"')
		span New tag:&nbsp;
		+view('view.newTagView class="new-tag" viewName="newTagViewInstance" valueBinding="view.currentTag"')

.col-md-6.tagbox.bordered
	h4 other available tags
	+unless('view.hastags')
		p.textcenter
			i.fa.fa-spinner.fa-spin.fa-3x
		+else
		.tags
			.main
				+each('view.alltags')
					+view('view.tagView')
						a.add(action='add target="view"')
							i.fa.fa-tag  
						a.body(href='#', action='rename target="view"') {{body}}
						a.close(action='delete target="view"')
							i.fa.fa-remove
