.main
	+if('view.full')
		.background
			i.icon-tags
	// TO-DO this would be more efficient with the #collection helper, but requires code changes to both tag.coffee and tagger.coffee
	+each('view.tags')
		+view('view.tagView')
			i.icon-tag  
			a.body(href='#', action='search target="view"') {{body}}
			a.close(action='delete target="view"') ×

	form.new-tag-form(action='add on="submit" target="view"')
		+view('view.newTagView class="new-tag" viewName="newTagViewInstance" valueBinding="view.currentTag"')

+if('view.full')
	.cloud
		+collection('contentBinding="view.cloudTags" itemViewClass="view.cloudTagView"')
			a(href='#', action='use target="view"')
				span.label
					i.icon-plus
					|  {{view.content}}
			|  