extends layout

block email_header 
  strong Request for Introduction 

block content

	p Would you kindly give me an intro to #{name}?
	br
	p This fella right here: 
	p #{encodeURI(url)}
	br
	br
	p Your servant,
	p #{fromnick}


