extends layout


block content
	p I noticed that you've emailed some new people this week:

	ul
		each name in names
			li.strong= name

	p Come to Redfly and classify them!

	a(href='#{path('/#/classify')}', style="font-size: 18px; text-decoration: none; background-color: #556C90; padding: 5px 10px; border-radius: 5px; color: #D9FFFD") IMMEDIATELY GOOD SIR
