extends layout


block content
	p(style='color: #e51937') NEW THIS WEEK: "Sync Linkedin" and try the new "Search" feature by typing query and pressing enter!
	br

	p I noticed that you've emailed some new people recently:

	ul
		each name in names
			li.strong= name

	p Come to Redfly and classify them!

	a(href='#{path('/classify')}', style="font-size: 18px; text-decoration: none; background-color: #556C90; padding: 5px 10px; border-radius: 5px; color: #D9FFFD") IMMEDIATELY GOOD SIR
