extends layout

block email_header 
  p You just joined Redfly at #{organization_name} 

block content
	| And, well, I just think that's just great
	img.image_fix(src='#{path('/mail/images/email.jpg')}', alt='Welcome To Redfly!')