@import 'jquery.pnotify.default'


@import 'nib'

body
	padding-top 70px	// Make the container go all the way to the bottom of the topbar.

.recent
// TODO necessary? Also affix isn't working
// 	height 620px
	.title
		text-align: center




.home
	h1
		display inline
		font-size 54px
		.red
			color #9D261D
	h2
		display inline
		margin-left 15px
	.version
		margin-top -10px
	.title
		margin-top 1px
		margin-bottom 30px
	.signup
		margin-top 30px
		.well
			width: 300px

.contact
	.top
		padding-bottom 30px
		margin-bottom 30px
		border-bottom 1px solid #EEE
		> .name
			font-size 40px
			margin-bottom 15px
		.thumbnail
			margin-right 10px
			float left
		.tagger
			display inline-block
			width 340px
	textarea
		display block
		width 513px
	button
		margin-left 446px
	blockquote
		small::before
			content normal




.connection	// TODO
	position fixed
	text-align center
	top 43px
	left 0
	width 100%
	height 0
	z-index 99
	> .alert
		background #fff1a8
		border 1px solid #999
		border-top 0
		border-radius 0 0 3px 3px
		display inline-block
		line-height 21px
		padding 0 12px

.tagger
	min-height 82px
	border 1px solid #C6C6C6
	.tag
		margin 4px 0 0 4px
		display inline-block
		background-color #DEE7F8
		border 1px solid #CAD8F3
		border-radius 8px 4px 4px 8px
		padding-left 8px
		.name
			color #666
			margin-right 4px
		.close
			float none
			font-size inherit
			border-left 1px dotted #1323d6
			padding-left 3px
			padding-right 3px
	.new-tag-form
		margin 4px 0 0 4px
		height 25px
		display inline
		.new-tag
			border none
			box-shadow none
			width auto
			margin 0
