@import 'vendor/jquery.pnotify.default'
@import 'vendor/animate'


@import 'nib'




// Bootstrap variables.
baseFontSize = 14px
baseLineHeight = 20px
navbarText = #777
linkColor = #08c
baseBorderRadius = 4px


// Implicit Bootstrap abstractions.
horizontalMargin = baseLineHeight * 0.5


// Global variables.
smallFontSize = baseFontSize * 0.7

lightBorder = #EEE

redstar = #e51937



// Global styles.
.lead strong
	font-weight normal

.overlay
	position relative
	.popover
		display block	// Bootstrap tries to make popover initial state hidden.
		width auto
		padding 10px
		.nav-header
			padding-left 0

.picture
	position relative
	.img-polaroid
		// TO-DO make these maxes be dependent on bootstrap vars.
		height 200px
		max-width 200px
	.edit
		position absolute
		top 2px
		left 2px
		background-color white
		padding-top 4px
		padding-left 4px
		padding-right 4px
		border-bottom-right-radius 4px




// Utility classes.
.center
	margin-left auto
	margin-right auto




// Mixins (basically components, with arguements!).
tag(fontSize)
	.tag
		a
			color #666 // TODO this seems hacky, ask someone at redstar how they do aggressive css overrides
		color #666
		display inline-block
		background-color #DEE7F8
		border 1px solid #CAD8F3

		big = fontSize
		little = fontSize * 0.25
		border-radius big little little big

		padding-left fontSize * 0.75
		.body
			padding-right fontSize * 0.25

tagger(fontSize)
	taggerMargin = fontSize * 0.28
	.tagger
		.main
			line-height fontSize * 1.42
			tag(fontSize)
			position relative
			.background
				position absolute
				color #eee
				font-size baseFontSize * 6
				z-index -1
				text-align center
				width 100%
			.tag
				margin taggerMargin 0 0 taggerMargin
				.close
					closePadding = fontSize * 0.25
					float none
					font-size inherit
					border-left 1px dotted #1323d6
					padding 0 closePadding 0 closePadding
			.new-tag-form
				margin taggerMargin 0 0 taggerMargin
				height fontSize * 2
				display inline
				.new-tag
					border none
					box-shadow none
					width auto
					margin 0
					background transparent
		.cloud
			margin-top 10px
			a:hover
				text-decoration none



// Layout.

body
	padding-top 70px	// Make the container go all the way to the bottom of the topbar.

.navbar
	searchMargin = 30px
	.navbar-search
		margin-left searchMargin
	.search-results
		margin-left searchMargin
		display block	// Always show the dropdown.
	.navbar-form .btn
		margin-left 4px
.activity
	overflow-y scroll
	background-color white
	height 620px
	.nav-header
		text-align center
		margin-bottom 15px
	.summary .own-line
		margin-top 10px
	.feed
		font-size smallFontSize
		tagger(smallFontSize)
		.feed-item
			border-bottom 1px solid lightBorder
			padding-bottom 10px
			h4
				font-weight 300




// Pages.

.home
	h1
		display inline
		font-size 54px
		.red
			color redstar
	h2
		display inline
		margin-left 15px
	.version
		margin-top -10px
	.title
		// margin-top 1px
		margin-bottom 30px
	.signup
		margin-top 30px
	.decorator
		color redstar
		text-align center
		font-size baseFontSize * 15
		img
			position absolute
			margin-left -150px
			margin-top -150px
			animation spin 40s infinite linear
			z-index -1



.contact
	.top
		.bullhorn
			display inline-block
			margin-right 10px
			font-size 30px
			:hover
				text-decoration none
		h1
			display inline-block
			margin-bottom 0
			margin-right 10px
		h4
			display inline-block
			margin-right 10px
		padding-bottom 30px
		margin-bottom 30px
		border-bottom 1px solid lightBorder
		// .tab-content
		// overflow visible
		.edit
			.popover
				width 260px
				i
					margin 3px
					margin-top 5px
		.social
			margin 3px
			font-size 130%
			&:hover
				text-decoration none
		.social.muted:hover
				cursor default
		.edit-social
			.popover
				width 457px
				.help-inline
					width 227px
					text-align right
					margin-right 5px
		.actions
			margin-bottom horizontalMargin
	.lead
		margin-bottom horizontalMargin
	.tag-category
		margin-bottom baseLineHeight
		tagger(baseFontSize)
		.tagger .main
			min-height 82px
			border 1px dashed lightBorder
			border-radius baseBorderRadius
	.media
		margin-bottom horizontalMargin * 2
		.media-object
			width 64px
			height 64px
	.merge
		.modal
			overflow visible
		.modal-body
			overflow-y visible
			.selections
				margin-top horizontalMargin * 2
				margin-bottom horizontalMargin * 2
			.alert
				margin-bottom 0
		.search .dropdown-menu
			max-width 528px
			margin-top 40px // TO-DO hackily hackface mchackerson

.contacts
	td
		cursor pointer

.tags
	h1
		margin-bottom horizontalMargin * 4
	.bodies
		text-align right

.create
	h1
		margin-bottom horizontalMargin * 4
	form
		legend
			margin-bottom 0
		.form-actions
			margin-top horizontalMargin * 4

.classify
	.navbar
		.navbar-inner
			padding-top 8px
		.lead
			display inline-block
			margin-bottom 0
		.already-added
			margin-right 10px
		ul
			display inline-block
			margin 0
			// .skip
			// 	color navbarText
	.star
		text-align center
		font-size 200px
		color redstar

.import
	table
		table-layout fixed
		th
			&:nth-last-of-type(2)
				width 40%
			&:nth-last-of-type(1)
				width 20%
	.form-actions button
		margin-left 5px



// Components.

.search
	.search-results
		display block	// Always show the dropdown.

div#linking
	.progress.progress1 .bar
		position absolute
		height 20px
		border-radius 4px

	.progress.progress2 .bar
		opacity 0.5

	.progress.progress1
		position relative



// Components that are just basically default mixins
tag(baseFontSize)



// .connection
// 	position fixed
// 	text-align center
// 	top 43px
// 	left 0
// 	width 100%
// 	height 0
// 	z-index 99
// 	> .alert
// 		background #fff1a8
// 		border 1px solid #999
// 		border-top 0
// 		border-radius 0 0 3px 3px
// 		display inline-block
// 		line-height 21px
// 		padding 0 12px
