@import '../node_modules/phrenetic/styles'
@import 'vendor/jquery-ui-1.10.2.custom.css'
@import 'vendor/jquery.counter-analog.css'


// Implicit Bootstrap abstractions.
horizontalMargin = baseLineHeight * 0.5


// Global variables.
smallFontSize = baseFontSize * 0.7
lightBorder = #EEE
organisation = #e51937


a.nodeco:hover
	text-decoration	none


// Global styles.
.lead strong
	font-weight normal

.overlay
	position relative
	.popover
		display block	// Bootstrap tries to make popover initial state hidden.
		width auto
		padding 10px
		.nav-header
			padding-left 0

.logo-up
	margin-top: -10px
	margin-left: -5px

.picture
	position relative
	.img-polaroid
		// TO-DO make these maxes be dependent on bootstrap vars.
		height 120px		// kwantopia changed to 120 
		max-width 120px	// kwantopia changed to 120 
	.edit
		position absolute
		top 2px
		left 2px
		background-color white
		padding-top 4px
		padding-left 4px
		padding-right 4px
		border-bottom-right-radius 4px


.password-login
	.popover
		margin-left	-100%
	button
		float	right
	a.advanced:hover
		text-decoration	none
	input.port
		margin-right	1em
		margin-left	1em
		width	4em
	input.secure
		margin-left	5px
		margin-top	-5px


// Utility classes.
.center
	margin-left auto
	margin-right auto

.textcenter
	text-align	center



// Mixins (basically components, with arguements!).
tag(fontSize)
	.tag
		a
		color #999
		display inline-block

		big = fontSize
		little = fontSize * 0.25
		border-radius big little little big

		padding-left fontSize * 0.75
		input
			margin-left	1em
			margin-right	1em
		.body
			padding-right fontSize * 0.25

.tagadmin
	.tags
		.main
			z-index 1


tagger(fontSize)
	taggerMargin = fontSize * 0.28
	.tagger
		.main
			line-height fontSize * 1.42
			tag(fontSize)
			position relative
			z-index 1
			.background
				position absolute
				color #eee
				font-size baseFontSize * 3
				z-index -1
				text-align center
				width 100%
			.tag
				margin taggerMargin 0 0 taggerMargin
				.close
					closePadding = fontSize * 0.25
					float none
					font-size inherit
					border-left 1px dotted #1323d6
					padding 0 closePadding 0 closePadding
			.new-tag-form
				margin taggerMargin 0 0 taggerMargin
				height fontSize * 2
				display inline
				.new-tag
					border none
					box-shadow none
					width auto
					margin 0
					background transparent
		.cloud
			margin-top 10px
			a:hover
				text-decoration none
			span
				i.icon-plus
					margin-right	0.3em

span.label.organisation, a.label.organisation
	background-color	#ff6600
	border-color		#444
span.label.industry, a.label.industry
	background-color	#86afc7
	border-color		#456
	color #fff
	text-shadow none
span.label.orgtagcat3, a.label.orgtagcat3
	background-color	#987
	border-color		#654
span.label.orgtagcat2, a.label.orgtagcat2
	background-color	#978
	border-color		#645
span.label.orgtagcat1, a.label.orgtagcat1
	background-color	#798
	border-color		#564
a.label.knows
	background-color #fff
	border 1px solid #0088cc
	color #0088cc
	text-shadow none

// Layout.

#initializing
	color organisation
	margin-top 90px	  // so lazy
	text-align center
	font-size baseFontSize * 15
	img
		position absolute
		margin-left -150px
		margin-top -150px
		animation spin 40s infinite linear
		z-index -1


body, body>div.ember-view
	background-color	#fff		// new chrome defaulting to dark

body
	padding-top 70px	// Make the container go all the way to the bottom of the topbar.

.navbar
	form>input
		width	10em
	searchMargin = 30px
	.navbar-search
		margin-left searchMargin
	.search-results
		margin-left searchMargin
		display block	// Always show the dropdown.
	.navbar-form .btn
		margin-left 4px
.activity
	overflow-y scroll
	background-color white
	height 620px
	.nav-header
		text-align center
		margin-bottom 15px
	.summary .own-line
		margin-top 10px
	.feed
		.hoveruser
			float	left
			.expandthis
				margin-top	-10em
				margin-left	-5em
				font-size baseFontSize
		.leftone
			float	left
			margin-right	0.5em
		font-size smallFontSize
		tagger(smallFontSize)
		.feed-item
			border-bottom 1px solid lightBorder
			padding-bottom 10px
			h4
				font-weight 300


// Search sort bar
.sort-by
	color #666


// Pages.

.home
	h1
		display inline
		font-size 54px
		.red
			color organisation
	h2
		display inline
	h3.contactcounter
		margin-left	10em
	.version
		float	left
	.title
		// margin-top 1px
		margin-bottom 30px
	.signup
		margin-top 30px
	li
		margin-top 5px
	li.subheading
		font-size 1.3em
	h4
		font-size 1.6em
	p
		font-size 1.2em

.pastreqs
	border-left	1px solid lightgrey
	padding-left	1em
	.nav-tabs > li
		float	right
		margin-right	1em
		margin-top	-2em
	.oldrequests
		background-color	#fff
		border-radius	7px
		padding	3px
		margin 3px
		margin-bottom	1em
		padding-left	7px
	.oldrequests.hoverable:hover
		background-color	#eee
	.modal
		top	2em
		width	66%
		height	600px
		margin-left	-400px
		.modal-header
			height	150px
		.modal-body
			overflow-x	visible
			height	400px
		.hoveruser
			.expandthis
				position	fixed
				left	1em
				margin-top 0
				top	3em
	.pager
		li
			a
				border	none

.hoveruser
	display	inline-block
	.expandthis
		width	280px
		position	absolute
		z-index	99
		.expanded
			padding	1em
			background-color	#eee
			border-radius baseBorderRadius
			box-shadow	5px 5px 3px #555
			img.img-polaroid
				margin-bottom	0.5em
			.insetalittle
				margin	1em

.requests
	.request
		.span9
			padding-left	3em
			.hoveruser
				margin-left	-3em
	hr
		margin	0.5em 0
	#datepicker
		margin	4px
	.badgecount
		width	3em
		float	left
		box-sizing	border-box
		.expandiconspace
			display	inline-block
			width	1em
			a.expandicon
				margin-right	0.4em
		.badge
			padding-left	5px
			padding-right	5px
	.pager
		position relative
		width 70%
		left 50%
		margin-left -25%
		.pagenums
			color	#069
			margin-top	0.5em
			display	inline-block

.request
	.hoveruser
		.expandthis
			margin-left	0
			margin-top	-13em
	.requser.expanded
		display	inline-block
	i.fright
		float right
	.btn.span11
		margin-left	0
	.label.urgent
		border-color	#bd362f
		color	#bd362f
	.label
		text-align	center
		min-height	2em
		margin	0
		padding-top	4px
		border	1px	solid black
		background-color	white
		color	gray
	a.label.knows
		color	#08c
	a.label.disabled
		background-color	lightgrey
	a.label:hover
		color	#08c
	a.label.disabled:hover
		color	#808080
	.expandedcontent
		padding	1em
		.response
			i.icon-bullhorn
				padding-right	0.3em
			i.icon-bullhorn:hover
				text-decoration	none
			padding-bottom	1em
			.suggesttext
				margin-left	0.2em
			.suggestions
				.imgpad
					padding-bottom	1em


.results
	.sort
		display	inline-block
		i
			margin-left	5px
			color	#aaa
		.icon-large
			color	#3af
		.icon-large:hover
			text-decoration	none
	hr.topexpanded
		border	0
		height	12px
		box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
		margin-top	-1.5em
	hr.botexpanded
		border	0
		height	3px
		background	-webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(25%, #333), color-stop(75%, #333))
		margin-bottom	-20px

	margin-top	-1em
	a:hover
		text-decoration	none
	.knowstags
		min-height	1.5em
		overflow	hidden
		span.label, a.label
			margin	0 3px 0 3px		
	.sometags
		//height	1.5em
		//min-height	1.5em
		max-height	60px
		overflow	hidden
		margin-top 1em
		span.label, a.label
			margin	0 3px 0 3px
	.indtags
		margin-bottom	1em
	.contact > .top
		margin-bottom	0
		padding-top	1em
		border-bottom	none
		border-top	1px solid #eee
	.top
		margin-top	1em
		margin-bottom	5px
		padding-bottom	5px
		border-bottom	1px solid #eee
		h3
			margin-top	-5px
			margin-bottom	5px
			font-size	22px
			display	inline-block
		a.social
			margin-right	4px
		span.mailORintro
			float	right
			margin-right	1em
		span.knowsome
			display	inline-block
		.picture
			img.fullwidth
				width	100%
		.clearpic
			margin-top	0.5em
		.right b
			float	right
		.somenote
			max-height	3em
			overflow	hidden
			margin-bottom	1em
	.pager
		position relative
		width 70%
		left 50%
		margin-left -25%
		.pagenums
			color	#069
			margin-top	0.5em
			display	inline-block
	.toppager
		margin-top 40px
		margin-bottom -5px

	.names, .familiarity, .reachability, .added
		margin-top 10px

// Search filter
.filter
	.searchtag
		width	66%
		margin	15px 3px 3px 3px
		padding	3px 13px 5px 13px
		background-color	#def
		border-radius	10px
		i
			font-weight	normal
			color	#666
			float	right
			margin-top 3px
		i:hover
			color	#c66

	input.newtag,input.newnose
		width	66%
		margin-top	9px
		margin-left	3em
	.opradbutts
		.ember-radio-button
			display	inline-block
			margin-left	1em
			label
				font-size	80%
				input
					vertical-align	top
					margin	3px
	.disabled
		color	#aaa
		font-style	italic
	select
		width	11em
	padding  1em
	top  2em
	height  100%
	background-color  #fff
	h3
	a.toggle
		color	#666
		margin-left	0.5em
	h3
		padding-top	1.5em
		margin	-10px
	h4
		padding-top	1em
	.togglecarets
		color	#48c
		margin-left	1em
	.checkfilter
		height	1.5em
		input
			display	inline
			margin 10px
			margin-top 7px
		label
			display	inline-block
			height	1.5em
			margin-left	1em
			overflow	hidden
			padding-bottom	2px
	.collapsed
		display	none
	a:hover
		text-decoration	none


.admin
	.checkadmin
		input
			display	inline
			margin 10px
			margin-top 7px
		label
			display	inline
			margin-left	1em
	li.editable
		a
			i
				display	none
	li.editable.active
		a
			i
				float	left
				margin-right	1em
				display	inline-block
				color	#888
		a:hover
			i
				color	#08c

.tagadmin, .tagger .main
	.tag
		margin	2px
		border-width	1px
		border-style	solid
	.tag.orgtagcat1
		background-color	#dfe
		border-color		#acb
		i.icon-tag
			color		#564
	.tag.orgtagcat2
		background-color	#fde
		border-color		#cab
		i.icon-tag
			color		#645
	.tag.orgtagcat3
		background-color	#fed
		border-color		#cba
		i.icon-tag
			color		#654
	.tag.industry
		background-color	#def
		border-color		#abc
		i.icon-tag
			color		#456
	.tag.organisation
		background-color	#eee
		border-color		#bbb
		i.icon-tag
			color		#444
	.tag
		i.icon-tag
			margin-left	-0.3em
			margin-right	0.3em
	.tag a.body
		color	#036



// Layout.

.contact,.feed
	.mergebutt
		margin-top	-12px
	.contactbar
		margin-bottom	1em
		background	linear-gradient(left, #fff 0%, #fdd 20%, #dfd 80%, #fff 100%)
		.barviewcontainer
			position	relative
			display	inline-block
			left	50%
			width	50%
			margin-left	-25%
			height	16px
			.ltzbarview
				border-radius	left 10px
				border-radius	right 4px
				position	absolute
				background	linear-gradient(top, pink 0%, darkred 100%)
				height	18px
				right	50%
				border-right:1px solid gray
			.gtzbarview
				border-radius	right 10px
				border-radius	left 4px
				position	absolute
				background	linear-gradient(top, lightgreen 0%, darkgreen 100%)
				height	18px
				left	50%
				border-left:1px solid gray
				
	span.leftbarlabel
		float	left
		position	absolute
	span.rightbarlabel
		position	absolute
		margin-right	-9em
		right	0
	span.leftsliderlabel
		float	left
		width	40%
	span.rightsliderlabel
		float	right
	.slidercontainer,.starcontainer
		display	inline-block
		width	40%
		p.contactstars
			text-align	center
			margin	0
			i.icon-star-empty
				color	#888077
			i.icon-star
				color	#dc6
			i.hoverstar
				color	#fe3
			i
				margin-left	2px
				margin-right	2px
	.top
		p.requestsent
			display	inline-block
			line-height	0.9em
			font-size	80%
			text-align	center
			font-style	italic
		.bullhorn
			display inline-block
			margin-right 10px
			font-size 30px
			:hover
				text-decoration none
		h3
			display inline-block
			margin-bottom 0
			margin-right 10px
			text-rendering	auto
		h4
			display inline-block
			margin-right 10px
		margin-bottom 1em
		border-bottom 1px solid lightBorder
		// .tab-content
		// overflow visible
		.edit
			.popover
				width 260px
				i
					margin 3px
					margin-top 5px
		.social
			margin 3px
			font-size 130%
			&:hover
				text-decoration none
		.social.muted:hover
				cursor default
		.edit-social
			.popover
				left	auto
				right	0
				width 457px
				.help-inline
					width 227px
					text-align right
					margin-right 5px
		.actions
			margin-top horizontalMargin
	.lead
		margin-bottom 0
	.tag-category
		margin-bottom baseLineHeight
		tagger(baseFontSize)
		.tagger .main
			min-height 42px
			border 1px solid #ddd
			border-radius baseBorderRadius
		.span4
			margin-left	1%
	.media
		margin-bottom horizontalMargin * 2
		.media-object
			width 64px
			height 64px
	span.contact-actions
		margin-right 5px
		a
			text-decoration	none
	.merge
		.modal
			overflow visible
		.modal-body
			overflow-y visible
			.selections
				margin-top horizontalMargin * 2
				margin-bottom horizontalMargin * 2
				margin-left	2em
			.alert
				margin-bottom 0
		.search .dropdown-menu
			max-width 528px
			margin-top 40px // TO-DO hackily hackface mchackerson
	.note
		.hoveruser
			.expandthis
				margin-top	-8em
				margin-left	-12em
			li
				display	inline
	.hoveruser
		display	block
		margin-right	1em


.contact
	.hoveruser
		.expandthis
			margin-left	-19em
			margin-top	-3em



// For _contact partial
//ul.knows-list
//	li
//		margin-left 25px
.knows-header
	margin-bottom 0px


.contacts
	.waitingformorecontacts
		margin-left	44%
	td
		cursor pointer
.tags
	h1
		margin-bottom horizontalMargin * 4
	.bodies
		text-align right

.maybevip
	display inline-block
	margin-right 10px
	a
		text-decoration	none
	.emptygraystar
		color	gray
	.fullredstar
		color	red
.create
	h1
		margin-bottom horizontalMargin * 4
	form
		legend
			margin-bottom 0
		.form-actions
			margin-top horizontalMargin * 4

.classify
	.navbar
		.navbar-inner
			padding-top 8px
		.lead
			display inline-block
			margin-bottom 0
		.already-added
			margin-right 10px
		ul
			display inline-block
			margin 0
		ul.knows-list
			li
				margin-left 25px
		ul.pager
			.tooltip-inner
				background-color	#c44
				color	#fff
			.tooltip-arrow
				border-bottom-color	#c44
	.star
		text-align center
		font-size 200px
		color organisation

.profile
	.pager
		margin 0

.import
	table
		table-layout fixed
		th
			&:nth-last-of-type(2)
				width 40%
			&:nth-last-of-type(1)
				width 20%
	.form-actions button
		margin-left 5px


.admin
	.whichtags
		background	#eee
		height	1.6em
		padding	0.2em
		margin-bottom	0.5em
		margin-right	0
		margin-left	1em
		border-radius	5px 0 0 5px
		color	#666
		span
			float	right
	.activetags
		background	#ddd
		color	#000
	.tagboxes
		box-shadow	3px 3px 7px #ccc
		border	1px solid #ddd
		border-radius	5px
		padding	3px
		margin	-3px 1em 1em -3px
		height	30em
		.tagbox.bordered
			.tags
				height	26em
				overflow-y	scroll
				overflow-x	hidden
				border	1px solid #ddd
				border-radius	5px
				.tag, .tag .body
					margin-left	0.5em
					margin-right	0.5em
				.tag a:hover
					text-decoration	none
		.tagbox
			.tags
				padding	3px
			h4
				margin-left	4em
				margin-top	-3px

// Components.

.search
	.search-results
		display block	// Always show the dropdown.

.loading
	margin-top horizontalMargin * 10 // TO-DO so lazy, make this vertically centered. Possibly after I figure out if body will have height 100%
	text-align center
	font-size baseFontSize * 6
	span.empty
		font-size	25%
		font-style	italic
		color	#666

#linking,#loading
	.progress.progress1
		position relative
		.bar
			position absolute
			height 20px
			border-radius 4px
	.progress.progress2 .bar
		opacity 0.5
		background-color	#036

// Components that are just basically default mixins
tag(baseFontSize)

// Search results page
.total-results
	margin-left -10px
	color #aaa

// used per search result
.search-result.knows 
	ul.tags
		display inline
		margin 0
		padding 0

		li
			display inline
			list-style none
			margin 0
			padding 0

		//li:nth-last-child(3):after
		//	content ""
		//
		//li:nth-last-child(4):after
		//	content ""
		//
		//li:after
		//	content ", "
		//	color #aaa

// .connection
// 	position fixed
// 	text-align center
// 	top 43px
// 	left 0
// 	width 100%
// 	height 0
// 	z-index 99
// 	> .alert
// 		background #fff1a8
// 		border 1px solid #999
// 		border-top 0
// 		border-radius 0 0 3px 3px
// 		display inline-block
// 		line-height 21px


.password-login input.error
	background-color	#fdd

// for the badge on the top menu next to Classify link
.navbar ul.nav li .badge
	margin-top 11px
	margin-left -10px

ul.nav .popover
	width 20em


.leaderboard
	.partheading
		display	inline-block
		margin-right	2em
	img
		height	4em
		margin-right	1em
	i.red
		color	red
		margin-right	0.4em
	i.green
		color	green
		margin-right	0.4em

.leaders
	.hoveruser
		.expandthis
			top	0
			margin-left	-4em
	table
		td
			padding	4px
			border	none
		td.pos
			text-align	center
		td.count
			text-align	center
	table.toplead
		td.pos
			color	darkgreen
	table.botlead
		td.pos
			color	darkred

// dashboard

li
	span.count
		color	#006
		margin-left	1em


// animations / transitions / transforms / etc

@-webkit-keyframes flipcardin {
	100% { -webkit-transform: rotateX(0);  -webkit-animation-timing-function: ease-in-out; opacity:1; }
	0% { -webkit-transform: rotateX(11deg); opacity:0;  }
}

@-moz-keyframes flipcardin {
	100% { -moz-transform: rotateX(0);  -moz-animation-timing-function: ease-in-out; opacity:1; }	
	0% { -moz-transform: rotateX(11deg); opacity:0;  }
}

@-o-keyframes flipcardin {
	100% { -o-transform: rotateX(0);  -o-animation-timing-function: ease-in-out; opacity:1; }
	0% { -o-transform: rotateX(11deg); opacity:0; }
}

@keyframes flipcardin {
	100% { transform: rotateX(0);  animation-timing-function: ease-in-out; opacity:1; }
	0% { transform: rotateX(11deg);  opacity:0; }
}


@-webkit-keyframes flipcardout {
	0% { -webkit-transform: rotateX(0);  -webkit-animation-timing-function: ease-in-out; opacity:1; }
	100% { -webkit-transform: rotateX(-11deg); opacity:0; }
}

@-moz-keyframes flipcardout {
	0% { -moz-transform: rotateX(0);  -moz-animation-timing-function: ease-in-out; opacity:1; }
	100% { -moz-transform: rotateX(-11deg); opacity:0; }
}

@-o-keyframes flipcardout {
	0% { -o-transform: rotateX(0);  -o-animation-timing-function: ease-in-out; opacity:1; }
	100% { -o-transform: rotateX(-11deg); opacity:0; }
}

@keyframes flipcardout {
	0% { transform: rotateX(0);  animation-timing-function: ease-in-out; opacity:1; }
	100% { transform: rotateX(-11deg); opacity:0; }
}

.flipcardout {
	-webkit-animation-name: flipcardout;
	-moz-animation-name: flipcardout;
	-o-animation-name: flipcardout;
	animation-name: flipcardout;
	-webkit-transform-origin: bottom center 10cm;
	-moz-transform-origin: bottom center 10cm;
	-o-transform-origin: bottom center 10cm;
	transform-origin: bottom center 10cm;
}

.flipcardin {
	-webkit-animation-name: flipcardin;
	-moz-animation-name: flipcardin;
	-o-animation-name: flipcardin;
	animation-name: flipcardin;
	-webkit-transform-origin: bottom center 10cm;
	-moz-transform-origin: bottom center 10cm;
	-o-transform-origin: bottom center 10cm;
	transform-origin: bottom center 10cm;
}

.flipcard {
	opacity: 0
}

.flipcardparent {
	perspective	20cm
}


/* originally authored by Angelo Rohit - https://github.com/angelorohit */

@-webkit-keyframes myLightSpeedIn {
	0% { -webkit-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	40% { -webkit-transform: translateX(-10%) skewX(5deg); opacity: 1; }
	70% { -webkit-transform: translateX(0%) skewX(-3deg); opacity: 1; }
	100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-moz-keyframes myLightSpeedIn {
	0% { -moz-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	40% { -moz-transform: translateX(-10%) skewX(5deg); opacity: 1; }
	70% { -moz-transform: translateX(0%) skewX(-3deg); opacity: 1; }
	100% { -moz-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-o-keyframes myLightSpeedIn {
	0% { -o-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	40% { -o-transform: translateX(-10%) skewX(5deg); opacity: 1; }
	70% { -o-transform: translateX(0%) skewX(-3deg); opacity: 1; }
	100% { -o-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@keyframes myLightSpeedIn {
	0% { transform: translateX(100%) skewX(-10deg); opacity: 0; }
	40% { transform: translateX(-10%) skewX(5deg); opacity: 1; }
	70% { transform: translateX(0%) skewX(-3deg); opacity: 1; }
	100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

.myLightSpeedIn {
    -webkit-animation-name: myLightSpeedIn;
    -moz-animation-name: myLightSpeedIn;
    -o-animation-name: myLightSpeedIn;
    animation-name: myLightSpeedIn;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;

	opacity:	0;
}

.animated.myLightSpeedIn {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}


@-webkit-keyframes myLightSpeedOut {
	100% { -webkit-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	70% { -webkit-transform: translateX(-10%) skewX(5deg); opacity: 0.5; }
	40% { -webkit-transform: translateX(0%) skewX(-3deg); opacity: 0.5; }
	0% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-moz-keyframes myLightSpeedOut {
	100% { -moz-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	70% { -moz-transform: translateX(-10%) skewX(5deg); opacity: 0.5; }
	40% { -moz-transform: translateX(0%) skewX(-3deg); opacity: 0.5; }
	0% { -moz-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-o-keyframes myLightSpeedOut {
	100% { -o-transform: translateX(100%) skewX(-10deg); opacity: 0; }
	70% { -o-transform: translateX(-10%) skewX(5deg); opacity: 0.5; }
	40% { -o-transform: translateX(0%) skewX(-3deg); opacity: 0.5; }
	0% { -o-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@keyframes myLightSpeedOut {
	100% { transform: translateX(100%) skewX(-10deg); opacity: 0; }
	70% { transform: translateX(-10%) skewX(5deg); opacity: 0.5; }
	40% { transform: translateX(0%) skewX(-3deg); opacity: 0.5; }
	0% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

.myLightSpeedOut {
    -webkit-animation-name: myLightSpeedOut;
    -moz-animation-name: myLightSpeedOut;
    -o-animation-name: myLightSpeedOut;
    animation-name: myLightSpeedOut;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.animated.myLightSpeedOut {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}



.home
	.carousel
		height	380px
		ol.carousel-indicators
			bottom	-1em
			top	auto
			height	1.2em
			left	50%
			margin-left	-1em
			li
				background-color	#dde
			li.active
				background-color	#3a87ad
		.carousel-control:hover
			background-color	#3a87ad
		.carousel-control
			background-color	#dde
			i
				font-size	44px
		.carousel-control.left
			margin-left	-40px
		.carousel-control.right
			margin-right	-20px
	.section, .section-colored
		padding	50px
		height	280px
		width	90%
	.section-colored
		background-color	#eee
	.span4 > h4 > i
		color	#3a87ad
